[2017-04-16 05:07] tony37 opened #746 "Ubuntu 16.04 Sucrose - no network"
Ubuntu 16.04 sucrose does provide an internet connection -the one to which ubuntu is connected. However, the neighborhood view is empty.

[2017-04-17 00:52] tony37 opened #747 "Journal not shown in home view"
The Ubuntu 16.04 sucrose does not show the Journal as the current activity below the XO icon in the home view. I think this is the way it should work. However, a click on the current activity button links to the Journal.

My proposal is that Sugar never show the Journal icon as the current activity - it isn't an activity. The Journal should be considered a View with access by the Journal button or

[2017-04-22 02:18] quozl commented on #746
Was fixed for 0.110, closing.

[2017-04-22 02:18] #746 closed

[2017-04-22 02:20] quozl commented on #747
Was fixed for 0.110.  The Journal is correctly shown as a current activity when there is no other activity current.

My opinion is against that.

[2017-04-22 02:24] tony37 commented on #747
Do you have a reason? I tried to give a reason why it is not appropriate
to be shown there.

Tony

On 04/22/2017 10:20 AM, James Cameron wrote:

[2017-04-22 02:47] quozl commented on #747
I'll not give my reasons until I see a seconder.  It's just not worth my time until I see consensus developing.

[2017-04-22 03:05] tony37 commented on #747
However, you apparently took from your valuable time to express a
personal opinion on github/sugarlabs.

AFAIK, I am also entitled to an opinion.

Tony

On 04/22/2017 10:47 AM, James Cameron wrote:

[2017-05-27 20:03] JarodO opened #755 "Country activity repeating letter."
In the country activity, where you name one country for each letter except for w and x, the input will occasionally repeat, as if a key is stuck. Leaving the activity and then returning stops the repeating input, ruling out a keyboard issue, and I made a second copy of Sugar on a Stick that also has the same issue, ruling out the flash drive itself being a cause. It still could be my computer, but

[2017-05-29 23:52] quozl commented on #755
Thanks.  Reproduced in Countries-33 on Debian.  Key events are either missed or repeat.  Log activity shows no helpful errors.  Problem doesn't affect other activities, so it isn't a problem with Sugar itself.  Moving this issue to the Countries activity.

[2017-05-29 23:52] #755 closed

[2017-06-04 05:33] TreeBaron opened #757 "Unable to get Paint to start."
I was not able to get the Paint app to start. It displays this message, "Paint failed to start." Screenshot attached.

![20170529_144434](https://cloud.githubusercontent.com/assets/8785617/26759201/9442c1e8-48ac-11e7-8ff9-785e98af386b.jpg)

[2017-06-04 05:34] TreeBaron opened #758 "Unable to get Physics to start."
I was unable to get Physics to start, this message was displayed: "Physics failed to start.
![20170529_144551](https://cloud.githubusercontent.com/assets/8785617/26759210/c7c2a40c-48ac-11e7-8a7b-792428066fb1.jpg)
"

[2017-06-04 05:36] TreeBaron opened #759 "Emoji's Do Not Fit On Icon Bar"
Under Chat Activity - Emoji icon bar extends down rather far. Emojis go off of my screen to the right. See Screenshot.
![20170529_141451](https://cloud.githubusercontent.com/assets/8785617/26759219/02016644-48ad-11e7-8ebf-b42d2b16a2a0.jpg)

[2017-06-04 05:37] TreeBaron opened #760 "Suggestion - Clock Application"
Clock Application - Toggling time to speech button does not result in any icon change. It’s impossible to tell that the button is actually a toggle and not a normal button. I suggest adding an icon that indicates when it is toggled.

[2017-06-04 05:38] TreeBaron opened #761 "In Countries Activity - Text Repeating"
In Countries Activity - Began to type out united states, it went crazy and began typing “u” over and over again. Also occurred when attempting to type Australia. Was able to type Libya successfully. See screenshot.
![20170529_142130](https://cloud.githubusercontent.com/assets/8785617/26759230/5a516128-48ad-11e7-83c2-c3d67b50a831.jpg)

[2017-06-04 05:39] TreeBaron opened #762 "Suggestion - Finance Application"
Finance Application - When selecting a period of forever in the finance application, the list is not updated until a new credit is added. I suggest the list be updated immediately upon selection.

[2017-06-04 05:41] TreeBaron opened #763 "Info Slicer - Graphical Glitch"
Info Slicer - When loading up a wiki page on giraffes the window overlays the left hand side toolbar, and the
![20170529_143254](https://cloud.githubusercontent.com/assets/8785617/26759247/b05a4832-48ad-11e7-9d6f-c1989c2ef7ca.jpg)
rest of the screen is white. Appears to be a graphical glitch. See screenshot.

[2017-06-04 05:43] TreeBaron opened #764 "Text To Speech - Expletives"
Text To Speech - Was able to make text to speech application say expletives. Using the following: “phuck”,”ass". **Any expletive word censorship can be overridden by adding the “^” character before it. This character makes no sound so it just sounds like the normal expletive. Possibly other characters behave in the same way. I suggest creating or finding an extensive list of words to ban, or provi

[2017-06-04 05:45] TreeBaron opened #765 "Story Activity - Text To Speech Censorship For Expletives"
Story Activity - Story activity appears to have no censorship on text to speech whatsoever. I recommend implementing some version of this. I know if I was a child who had text to speech like this I'd have countless hours of fun figuring out how to get the computer to cuss. I know that as software developers it's not necessarily your job to monitor that closely, but at least making it a bit more di

[2017-06-04 05:46] TreeBaron opened #766 "Strange Word In Abacus App?"
Abacus - In English mode in the abacus it has what appears to be a foreign word Caacupe’ next to the reset button. See screenshot.

![20170529_151429](https://cloud.githubusercontent.com/assets/8785617/26759276/6941a282-48ae-11e7-9a91-d501a5150ad3.jpg)

[2017-06-04 06:14] i5o commented on #757
Hi @TreeBaron thanks for reporting this.

What version of Sugar/Paint activity are you using?
If you could attach the logs that would help us a lot.

Logs are available in:
/home/*username*/.sugar/default/logs/

If you are using sugar-build:
sugar-build/dotsugar/default/logs

Thanks,
Ignacio!

[2017-06-04 06:14] i5o commented on #758
Hi @TreeBaron thanks for reporting this.
Same comment as prev :)

What version of Sugar/Physics activity are you using?
If you could attach the logs that would help us a lot.

Logs are available in:
/home/*username*/.sugar/default/logs/

If you are using sugar-build:
sugar-build/dotsugar/default/logs

Thanks,
Ignacio!

[2017-06-04 06:15] i5o commented on #766
@walterbender may help here.

But I think it's the type/mode of abacus.

[2017-06-04 11:52] walterbender commented on #766
Caacupe is the name of one of the abacus modes. It comes from the name of the town where the teachers who invented this mode live.

[2017-06-04 11:52] #766 closed

[2017-06-04 11:53] walterbender commented on #759
Seems like a bug. Curious: How/where are you running Sugar? What size screen?

[2017-06-04 11:54] walterbender commented on #758
Are you using a 32bit, 64bit, or ARM computer? (We've been chasing a bug with the 32bit version.)

[2017-06-05 04:10] jakeelove opened #767 "Translator Malfunction"
Update: Version: 0.108.1 windows x86_64 (64-bit)
Activity: Words
Activity Version: 21
Translating from English to Hindi, the translator reads an English phrase instead of reading the Hindi translation of the word. However, this only happens if the translated word and phrase are on different lines. If they are on the same line then it works fine. I'm not sure how to take a video of my problem witho

[2017-06-05 04:22] quozl commented on #767
Thanks for the bug report, but could you please add more detail;

* version of Sugar,
* name of the activity,
* version of the activity, use hotkeys F3 ctrl+2 to list versions,

The video is out of focus and I can't tell from it what the activity is.

Use alt+1 to make a screenshot rather than a mobile phone.

[2017-06-05 10:59] quozl commented on #757
There was a bug just fixed.

Please upgrade to Paint-66 and try again.

http://activities.sugarlabs.org/en-US/sugar/addon/4082/

[2017-06-05 10:59] #757 closed

[2017-06-06 03:21] TreeBaron commented on #758
Hello, I am running sugar labs on a Lenovo x201 laptop.

It has 4.00 GB ram, core i5 CPU M 520 @2.50GHz

It has a 64-bit version of windows on it, but it only has 4 gb of ram so I'm not sure how that's supposed to work. As for sugar I'm running Fedora-SoaS-Live 2.

[2017-06-06 03:23] TreeBaron commented on #759
I'm running sugar on a stick ( I'm running Fedora-SoaS-Live 2) on my Lenovo x201 laptop at a resolution of 1280x800.

[2017-06-06 03:29] quozl commented on #758
Where did you get Fedora SoaS Live 2?

[2017-06-06 03:34] TreeBaron commented on #758
Whoops, that was a typo. I'm on Fedora-Soas-Live 25

[2017-06-06 03:35] TreeBaron commented on #758
I believe I downloaded the 64-bit version of sugar.

[2017-06-06 04:26] quozl commented on #758
Okay, I can guess exactly which problem you hit, and you can upgrade to Physics-32 to fix it.

* http://people.sugarlabs.org/~quozl/Physics-32.xo

When you check for bugs already reported, be sure to check our trac instance at bugs.sugarlabs.org, to avoid wasting your time;

* https://bugs.sugarlabs.org/ticket/4986
* https://bugs.sugarlabs.org/ticket/4980
* https://bugs.sugarlabs.org/ticket/4976

[2017-06-06 04:26] #758 closed

[2017-06-06 05:25] quozl commented on #759
Looks like the code preferences the XO display form factor.

Using Alt+1 screenshot, captured from Fedora 18 on XO-4 at 1200x900 pixels

![chat-fedora-18](https://cloud.githubusercontent.com/assets/2936481/26814346/3a2cd8e2-4ac8-11e7-88f6-56d11066aa2a.png)

and from Ubuntu on KVM at 1024x768 pixels

![chat-ubuntu-16 04](https://cloud.githubusercontent.com/assets/2936481/26814354/52cc7ee8-4ac8-11e7

[2017-06-06 06:07] quozl commented on #760
On Ubuntu 16.04 with Sugar 0.110 there is an icon toggle state change of the background.

On Fedora 25 with Sugar 0.108 there is no change to icon background.

This was fixed in https://github.com/sugarlabs/sugar-artwork/commit/8448b7db48e26e11785c8d827304a0aae025615a#diff-bbfc34d1e3e9c4a2103160ff4a5fc172 and released in Sugar 0.110.

Please upgrade to Sugar 0.110, thanks.

[2017-06-06 06:07] #760 closed

[2017-06-06 07:30] quozl commented on #761
Duplicate of https://github.com/sugarlabs/countries-activity/issues/1 and https://github.com/sugarlabs/sugar/issues/755 ... please check for known issues before reporting new ones.

[2017-06-06 07:30] #761 closed

[2017-06-12 00:33] quozl commented on #764
Yes, the censorship chosen by the Speak activity authors is very mild and easily bypassed.  You can find the word list in the source repository

* https://github.com/sugarlabs/speak/blob/152e474a5a24458b1a049721c0b3b43f7dc79607/face.py#L245

along with the method used to find the words relying on whitespace.

Thanks for publishing a method to bypass.  Your method relies on defeating the whitespace

[2017-06-12 00:33] #764 closed

[2017-06-12 00:33] quozl commented on #765
No thanks.  Maintaining a list of expletives across all supported languages is impractical.  Expletives are context dependent.  Inappropriate use of expletives are a social problem and should be controlled as such.

[2017-06-12 00:33] #765 closed

[2017-06-22 01:37] fileoffset opened #768 "Web Browser Activity failing to start"
Hi,

I installed Sugar via APT as the guide says for Ubuntu: apt install sucrose

After installing on a fresh Ubuntu 17 install, I was able to boot into Sugar, and all the preinstalled Activities worked fine _except_ for the Web Browser.

Every time you tried to load it, it would just say "Browser failed to load".

I traced the error to an import in the Browser.activity via a stacktrace in log fil

[2017-06-22 02:22] quozl commented on #768
Yes, a well known problem.  Was fixed in Debian bug 848840 with Debian package version 200+20170502-1, which is also in Ubuntu 17.10.  We didn't have the problem at OLPC because we were using a custom package, and we're now using 201.2.  You can get 201.2 at http://people.sugarlabs.org/~quozl/Browse-201.2.xo but you'll need to install it with `sugar-install-bundle` because of a MIME type problem i

[2017-06-22 02:22] #768 closed

[2017-06-22 02:36] fileoffset commented on #768
I have been trying to figure out why none of the Activities downloaded
through the Browser were installing. I was just looking through logs
saying no valid mimetype handler, so I think I've hit that bug as well hah.

Updating as suggested fixed that, thanks so much!

On 22-Jun-17 12:22 PM, James Cameron wrote:

[2017-06-22 03:21] quozl commented on #768
Yes, that one was fixed in two patches;
* https://github.com/sugarlabs/browse-activity/commit/16d967166aeb793f94403c5ccb262e10bf4a0342 (the MIME type was usually wrong in the server response, even from activities.sugarlabs.org, https://github.com/sugarlabs/aslo/issues/13)
* https://github.com/sugarlabs/browse-activity/commit/4a6825a80c1ca8aacbf0f70d0a71c331b4940527 (mistake in merging lost the ope

[2017-07-03 03:31] quozl opened #769 "Journal placed above Home after startup"
In previous versions, Sugar startup shows the home view, a busy cursor, asynchronously starts the journal, and then turns off the busy cursor leaving the home view available.

In Ubuntu 17.10 Artful, Sugar startup shows the home view, a busy cursor, but the journal window is created above the home window.

Related to https://github.com/sugarlabs/sugar-toolkit-gtk3/issues/368

[2017-09-13 00:27] icarito opened #770 "Make gender selection optional"
Off by default. Let deployments who want it activate it.

[2017-09-30 07:30] quozl opened #771 "Journal entry name edit followed by tab is undone"
Reproducer: expose the journal (F5), click on a journal entry name, change the name, press TAB.

Expected result: name change is accepted.

Observed result: name change is abandoned.

[2017-11-10 09:00] risole opened #773 "SOAS liveinst fails with "gcore exited with status 256""
Can run SOAS by booting from USB stick, but installing to hard drive fails.

Running the liveinst command as per https://wiki.sugarlabs.org/go/Tutorials/Installation/Install_with_liveinst results in "No protocol specified; Anaconda received signal 11! gcore exited with status 256".

This is using http://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Downloads x86_64 with SOAS released on 11 July 2017 with

[2017-11-10 09:48] quozl commented on #773
Won't fix, as `liveinst` is not part of Sugar, but is part of Fedora instead.

However, here's a few other things to try;

Try the Fedora 27 SoaS ISOs.  They may have fixed a problem, or they may be no different.

Use the (Red Hat Bugzilla)[https://bugzilla.redhat.com] to report this problem with `liveinst` on Fedora SoaS.

Signal 11 from Anaconda can also occur if there are RAM problems, so you m

[2017-11-10 10:29] risole commented on #773
Thanks very much for speedy and detailed reply. Sorry I missed the IRC reply. The IRC web client kept dropping the server connection.

I'm downloading http://people.sugarlabs.org/~quozl/sugar-live-build-20171009/ now. If that doesn't work for me then I'll try the Fedora 7 SoaS ISO.

Thanks again. Sugar looks wonderful!

[2017-11-10 21:18] risole commented on #773
Thanks again for the suggestions. After I disabled secure boot and enabled legacy mode in this laptop bios boot settings, the 0.112 image did install onto a USB flash drive with Rufus and did boot for me. But now how do I install Sugar to the hard drive? There is no "liveinst" command on this image, and I'm having trouble finding the wiki instructions for doing this.

[2017-11-10 21:54] quozl commented on #773
Sorry, it is not documented at Sugar Labs because we just borrowed the downstream distribution method.  Check the boot menu.  It follows unchanged a tradition of Debian Live Builds, and has an option to install or graphical install, thus;

![sugar-live-build](https://user-images.githubusercontent.com/2936481/32680095-34d5f984-c6bd-11e7-8c9b-80977b70f4f9.png)

In my testing it does not work on ever

[2017-11-13 02:18] risole commented on #773
Installing this to HD worked for me. Thanks for all the help.

I'm finding though that many of the activities won't start or crash frequently. Is this because 0.112 has not yet been fully tested? I'm also finding that many of the activities available at https://activities.sugarlabs.org/en-US/sugar/ are 2 or more years old (eg. Recently Added
added 07/26/2014
Comodo added 07/15/2014")

For a 7yo ki

[2017-11-13 02:40] quozl commented on #773
Every activity starts and is stable in that build, and I tested that before I published it.  Given your earlier signal 11 from anaconda, your system has a thermal, CPU, or a RAM fault yet to be diagnosed in full.  Please run a memory test for a few hours and report the result.

Yes, many activities at activities.sugarlabs.org have not been updated recently.  I've been updating the important ones,

[2017-11-13 02:47] quozl commented on #773
Also, if you have another computer working fine, such as the one you are writing with, you can check to see if the same problems occur there by using VirtualBox, Parallels or VMware to run the same live build in a virtual machine.  That will help to isolate your problems as hardware cause.

[2017-11-15 20:17] jamessandy commented on #770
Yeah I think that  gender selection should be based on decision because some people may see it from a different view of racism

[2017-11-18 04:01] risole commented on #773
Thanks for the suggestions. I ran hp's hardware diagnostics (looping until error) for 13 hours last night and the utility reported zero errors after 5 or 6 full tests. However, it was behaving strangely even in windows 10, and today I returned the laptop to the store (it also had a temperamental trackpad click function and some other hardware issues; I couldn't consistently get it to start in safe

[2017-11-18 04:14] quozl commented on #773
Thanks for the update.  Every now and then very new hardware doesn't work very well with Linux, because manufacturers do something advanced for which they need special support.  The hardware diagnostics might be right, and Fedora and SoaS might be missing a driver, firmware or settings specific to the hardware.  Or the hardware diagnostics might not be representative of the pattern of CPU and RAM

[2017-11-20 00:59] walterbender opened #774 "docuemtn Sugar Live Build"
independently reproduce Sugar Live Build,
and improve documentation.

When we released Sugar 0.112 a Debian Live Build was made for
demonstrating, using, and developing for Sugar.  Sugar Live Build is a
complete bootable image containing Sugar and demonstration activities.

We need;

1.  a README.md in the sugar-live-build repository to explain briefly
(a) that repository contains configuration fi

[2017-11-24 02:39] risole commented on #773
Now working with the http://people.sugarlabs.org/~quozl/sugar-live-build-20171009/ live image on a Lenovo N23 80UR N3060 4G. Same behavior regarding memtest86+ with this new machine as I experienced with the hp laptop. Is it safe to conclude this is a software problem then?

I'm going to try installing to hard drive next, but just curious about the memtest86+ result.

[2017-11-24 03:15] quozl commented on #773
Possibly.  Check with the Debian project about their Live Build, they'll know for sure.  We did nothing to include memtest86+ ourselves, it was just the default when building an image.  You might try another version of memtest86+ from a different distribution.

[2017-12-20 15:25] amanharitsh123 opened #775 "Error in Documentation Regarding Installation On Ubuntu 17"
Installation of Sugar desktop environment on ubuntu is version specific. The method provided in the documentation doesnt work in case of ubuntu 17 . There should be a link to the proper installation page in the documentation.

[2017-12-21 00:08] quozl commented on #775
@amanharitsh123, which documentation are you referring to, and which version of Ubuntu?

I've checked, and README.md in this repository is correct, and https://sugarlabs.org/ points Ubuntu users to the Ubuntu page on our Wiki, and this is (a) has to be Ubuntu version specific because of bugs in Ubuntu, and (b) does work for me on both Ubuntu 17.04 and Ubuntu 17.10.

[2017-12-21 04:24] amanharitsh123 commented on #775
The provided command in the README.md  "sudo apt install sucrose" doesnt work in case of Ubuntu 17.10 (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=877812) . In the README.md we should provide links to the particular installation page for every flavour of Linux as it could save time for the newbies.

[2017-12-21 07:06] quozl commented on #775
Yes, that's the bug, but it's not our bug.  The README.md predated Ubuntu 17.10 release, but does point to the Ubuntu page on our Wiki, which does mention the bug.  I don't think we need to document Ubuntu release-specific bugs in the Sugar source repository; that's the responsibility of Ubuntu or Debian.  We don't have the resources to document every flavour of Linux, let alone every release.  My

[2017-12-21 07:08] amanharitsh123 commented on #775
@quozl  Yes we should remove the ubuntu and fedora guidance and rather provide a common installation page link...

[2017-12-21 07:13] quozl commented on #775
I don't think we have the resources to provide a common installation page link either.  Until now, we've pointed to last verified installation sequence for Fedora, Ubuntu or Debian.  And it's mostly been me.  Once this documenting causes misunderstanding or difficulty, and it can't be fixed at Sugar Labs, it's time to remove it.

[2017-12-21 07:18] amanharitsh123 commented on #775
Ubuntu :- http://wiki.sugarlabs.org/go/Ubuntu
Fedora :- http://wiki.sugarlabs.org/go/Fedora
Debian :- http://wiki.sugarlabs.org/go/Debian
Other Distro :- http://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F
Cant we use these links in the main readme.md file ....Correct me if I am wrong :-)

[2017-12-21 07:20] quozl commented on #775
Yes, that's mostly me.  So you propose moving maintenance of the instructions out of the source repository.  Why not instead move it the other way?

[2017-12-21 07:23] amanharitsh123 commented on #775
Sorry i am getting you. I am just trying to overcome a difficulty faced by me during the installation :-)

[2017-12-21 07:42] quozl commented on #775
Let's wait for other opinions then.  Given that I've been maintaining both sets of instructions, without much help, I'm too close to the issue.

[2017-12-21 07:46] amanharitsh123 commented on #775
Ok sure :-)

[2017-12-23 09:00] amanharitsh123 opened #776 "Journal Starts unexpectedly at the boot up in Ubuntu 17.10"
After testing Sugar Live Build , Sugar on ubuntu 16.04 , 17.04 and 17.10. I noticed that in case of ubuntu 17.10 Journal activity starts over Home activity at the boot unexpectedly. It seems like it automatically starts at the boot without any user response.

[2017-12-23 09:48] quozl commented on #776
Thanks.  We know.  #769.  [#368](https://github.com/sugarlabs/sugar-toolkit-gtk3/issues/368).

[2017-12-23 09:48] #776 closed

[2018-01-01 23:23] #759 closed

[2018-01-02 00:53] #773 closed

[2018-01-02 01:00] quozl commented on #775
As there have been no other opinions, and this issue was raised because of a bug in Debian that also affects Ubuntu, I'll close the issue.  Debian has since packaged 0.112, and Ubuntu has taken the new version, so it is unlikely to occur in the next Ubuntu release.

[2018-01-02 01:00] #775 closed

[2018-01-05 02:07] quozl commented on #770
Was asked for more detail about this issue; here's a checklist.

- [ ] review the feature implementation, both in [requirements](https://wiki.sugarlabs.org/go/Features/About_Me) and code,
- [ ] find if the feature is already optional, and if so change the default,
- [ ] if the feature is not yet optional, add GSettings schema, conditional code, and set the default off.

[2018-01-07 14:53] Pro-Panda commented on #771
@quozl I would like to work on this issue.

[2018-01-07 22:29] quozl opened #778 "Bringup on Wayland"
Sugar desktop does not start on Wayland when tested with Fedora 27.

Workaround is to avoid Wayland by using an Xorg fallback configuration.

- [ ] find out exactly what goes wrong when started under Wayland,
- [ ] fix it, and port any necessary libraries such as our X session manager in sugar-toolkit-gtk3.

Our plans in 2013 were to wait for the necessary libraries to become available for Wayland

[2018-01-07 22:59] quozl commented on #771
Good, thanks.  Let us know if you stop.

[2018-01-07 23:35] quozl opened #779 "Age picker slider causes disk I/O"
Moving the slider back and forth causes disk writes as GSettings instances are being created and changed rapidly.

By comparison, the Frame control panel uses one instance of GSettings and waits for user to stop moving the slider before saving the change.

- [ ] cache the GSettings instance instead of creating a new one for each change,
- [ ] defer saving the change.

[2018-01-09 05:49] quozl commented on #770
https://github.com/sugarlabs/sugar/commit/70011a37b4d0c6ec0c5585355c76afd14a41a5b8

[2018-01-09 05:49] #770 closed

[2018-01-10 03:45] quozl opened #780 "Home view activity start-new using Alt key does not work"
Reproducer: start an activity, stop it, view the home view activity ring, observe the activity icon now has user colour, press and hold the `alt` key, observe that user colour is removed, click on the icon, release the `alt` key.

Expected result; activity is started new.

Observed result; no response, no errors logged.

Workaround; right-click, choose start new.

Does not occur on Fedora 18.

Doe

[2018-01-12 00:33] quozl commented on #771
Thanks, a good investigation.

In summary, using `esc` or `tab` emits `editing-canceled` by design in GTK+ 3 class `Gtk.CellRendererText`.  User should instead use `enter` for a change to be accepted.

This problem report probably arose from different behaviour in the three places where Sugar exposes the journal entry name;

* the activity toolbar title entry; which ignores `enter`, accepts on `ta

[2018-01-12 00:33] #771 closed

[2018-01-14 16:39] Pro-Panda commented on #780
@quozl I would like to work on it

[2018-01-14 21:05] quozl commented on #780
@Pro-Panda, there was an e-mail to me from GitHub saying you would like to work on this, but the comment is missing from this issue.  Is this a regression of GitHub, or did you delete?  If you deleted, was there something ambiguous about the issue that needs more details?

[2018-01-15 03:39] Pro-Panda commented on #780
@quozl
I deleted and forgot to write the updated one. Sorry
So this was what I found:
 - `alt+click` is **not** handled by **any** layer of `button-press-event` or any other signal in Sugar. Hence this

 - It then goes to the underlying OS(on Ubuntu 16.04) and is used to move the window(rdesktop) by dragging the mouse
 - II am trying to override it in the same way as Alt+Tab is done.

Do you think

[2018-01-16 00:58] quozl commented on #780
No, wrong lines altogether.  [`HomeWindow.__key_press_event_cb`](https://github.com/sugarlabs/sugar/blob/master/src/jarabe/desktop/homewindow.py#L185) is where the `alt` key press is detected, and it saves state using `set_resume_mode`; a method of `HomeBox`.

[2018-01-16 04:27] Pro-Panda commented on #780
@quozl Sorry, my previous statement might be ambiguous.
This is what I found.
While reproducing the issue,
1. Press `alt`: detected by `HomeWindow.__key_press_event_cb`
2. Keep holding `alt`
3. Clicking on any button after that; `button-press-event` is not detected by any layer of widgets via any signal
4. Release `alt`: detected by `HomeWindow.__key_release_event_cb`

**Proposed Reason** - Mouse

[2018-01-16 06:42] quozl commented on #780
Thanks for the investigation.  I agree.  For me, symptom only occurs on VM (virt-manager, VirtualBox) under wmaker, and there is no change of cursor image, but the virtual machine window can be dragged.

Symptom does not occur on native hardware.

[2018-01-16 06:42] #780 closed

[2018-01-23 21:48] timothybruggeman opened #781 "Two-Screen Bug"
While using SOAS on multiple monitors, there is an inconsistency in how some activities and menus are displayed. For example, the gender selection and the two menus before it use only one screen, while age selection is across two. I have tested one and two monitors; both display on SOAS, but the problems only come up with multiple screens. I have not tested with more than two monitors, so I do not

[2018-01-23 21:51] timothybruggeman opened #782 "Unable to Shutdown or Restart"
After typing a bit in the writing application, I went back to the main menu to restart the computer. A message popped up asking if I wanted to restart and discard my unsaved document. I clicked yes, but nothing happened. Then I clicked restart again, but allowing the timer to finish and still nothing happened. I tried clicking restart and shut-down several times, sometimes with the dialogue appear

[2018-01-23 22:16] quozl commented on #781
I'm aware of this problem and have been working around it in OLPC OS by restricting the available display configurations to only allow mirrored.  I've no plans to fix it, as multiple display configurations are usually too complex for child learners to use.

[2018-01-24 03:40] quozl commented on #782
Works for me.  Not enough information.  What operating system distribution and version?  What does the Log activity show for the shell logs?

[2018-01-24 22:36] timothybruggeman commented on #781
That also works as a great solution. I was unable to fix it, but perhaps you will have better luck. I agree for children, but isn't program also to be used by adults? The mirroring is still a good solution.

[2018-01-25 22:52] aperezbios commented on #782
@timothybruggeman was this in a VM, on an XO, which version of Sugar, etc.

[2018-01-25 22:57] timothybruggeman commented on #782
This was on SOAS. I'd like to think it was something to do with the unsaved document, but the problem still existed after I deleted everything in the Words application.

[2018-01-25 23:24] quozl commented on #782
The Words activity or the Write activity?  It isn't clear now which you were using.

[2018-01-25 23:51] satellitee commented on #769
also found in fedora soas f27 and f28 rawhide
https://bugzilla.redhat.com/show_bug.cgi?id=1519042

[2018-01-29 01:01] quozl commented on #782
As it works fine for me, we'll need a method to reproduce, and also shell logs from an affected system.  Please re-open if these become available.

[2018-01-29 01:01] #782 closed

[2018-02-01 20:49] quozl opened #783 "Paste fails when frame contains multiple copies"
Reproducer:

* start Sugar 0.112,
* start Terminal,
* display some text,
* select and copy some text using `ctrl+shift+c`; the frame will show a text clipping,
* select and copy some other text using `ctrl+shift+c`; the frame will show two text clippings,
* paste the text using `ctrl+shift+v`,

Expected result:

* most recent text clipping is pasted,

Observed result:

* nothing happens.

Logs: no

[2018-02-01 20:53] Menzador commented on #783
Can confirm. The original test case was 0.110 on several machines, mostly running Ubuntu 17.04. The latest 2 cases were on 17.10 systems, one on a Toshiba (technically running System76's Pop!_OS, which is Ubuntu with a few cosmetic changes), and one on a MacBook Pro running Ubuntu MATE 17.10. @quozl tested for 0.112.

Seems like it's throwing a null pointer someplace.

[2018-02-01 22:11] DipanshKhandelwal opened #784 "Dead link on developers website"
![sugarlabs](https://user-images.githubusercontent.com/24923974/35706220-eb49505a-07ca-11e8-8efc-d1f6e98107e9.png)

Present -
![sl2](https://user-images.githubusercontent.com/24923974/35706281-2e01a370-07cb-11e8-89d1-f258ce519832.png)

[2018-02-01 22:18] #784 closed

[2018-02-07 07:45] Pro-Panda commented on #783
**Unable to reproduce**
 - started Sugar 0.112,
 - started Terminal,
 - displayed some text
 - selected and copied some text using ctrl+shift+c; **No frame appears**
 - selected and copied some other text using ctrl+shift+c; **Again, no frame appears**
 - pasted the text using ctrl+shift+v,

**Observed result:**
 - The recent clipping is pasted

**Tested on:**
Ubuntu 16.04, rdesktop. Sugar 0.112

[2018-02-07 19:09] quozl commented on #783
Reproduced on Ubuntu 16.04 with Sugar 0.112 as a VM.

Reproduced on Ubuntu 16.04 with Sugar 0.112 as a native desktop on real hardware.

I don't expect rdesktop to fully emulate the native environment, so I'm not surprised rdesktop does not reproduce this problem.  As it reproduces with a VM, your best bet to reproduce (if you need to) is down that path.  rdesktop is not an expected use-case.

[2018-02-08 13:02] Pro-Panda commented on #783
@quozl, Thank you for the detailed explanation

[2018-02-13 01:41] quozl opened #785 "Home view still shows Browse if show_launcher = no"
Reproducer: set Browse activity.info `show_launcher = no`, and restart Sugar.

Observed result: Browse is not shown in List View (F3, ctrl-2), but Browse is shown in Favorites View (F3, ctrl-1).

Expected result: Browse is not shown in either view.

`show_launcher` was proposed for deprecation in January 2014 on sugar-devel@.  We might finish deprecating it, or we might fix it so it works the way

[2018-02-26 18:16] Pro-Panda opened #786 "[Feature]: Enable shift + click in journal"
**Proposed Feature:**
 1. Open the journal
 2. Click on a checkbox(`CellRendererToggle`) next to an activity (say, 2nd in line from the top)
 3. Hold `shift` and click on another checkbox (say, 5th in line from the top)

**Observed output:**
 1. 2nd gets selected
 2. 5th is not selected (Shift + click is not detected)

**Proposed output:**
 2nd, 3rd, 4th and 5th activities should get selected(chec

[2018-02-26 21:31] Pro-Panda commented on #785
Fixed in  a21bff6 by hiding the activities with `show_launcher=no` from the favorite view as well.

Kindly let me know if it should it be deprecated instead ?

[2018-02-26 22:03] quozl opened #787 "Port to Python 3"
Port Sugar to Python 3 and the Sugar Toolkit for GTK+ 3, providing a Python 3 implementation of this package with no Python 2 dependencies.

Requires most of https://github.com/sugarlabs/sugar-toolkit-gtk3/issues/382, most of https://github.com/sugarlabs/sugar-datastore/issues/7 and some of https://github.com/sugarlabs/hello-world-fork/issues/2 to be completed.

Progress goals:

- [x] port code in

[2018-02-27 01:53] quozl opened #788 "Journal favourite star unresponsiveness"
https://bugs.sugarlabs.org/ticket/4944
https://bugs.sugarlabs.org/ticket/4904

[2018-02-27 02:21] quozl commented on #786
Yes, `shift+click` in a `Gtk.ListBox` would normally extend the selection through a range, but I don't know that it is common for lists that are tables with toggle buttons.  In lists, `click` deselects all others, and `ctrl+click` toggles an individual entry.  To be consistent we would need to bring these as well.  It would be a significant change, and would break the `click` which resumes the ent

[2018-02-27 02:39] quozl commented on #785
Reviewed.  Proceed.  Can activity be run by typing the name?  I'm hoping yes, but I don't know how it was meant to work.

[2018-02-27 02:48] Pro-Panda commented on #785
If `show_launcher` is set to `no`, actvities aren't opening by typing the name as well. I suspect it is because the list of activities being searched is also generated via calling [this](https://github.com/sugarlabs/sugar/commit/8e0f1c65a05612e1de1c1db2db1c40ee1efb20ba#diff-0d0ca2d08502f03e6668d377ffd40520R310)

[2018-02-27 03:13] quozl commented on #785
Thanks.

[2018-02-27 03:13] #785 closed

[2018-02-27 03:19] Pro-Panda commented on #785
Out of curiousity, was the idea of `show_launcher` based on creating 'background processes' like activities, since there is no way to open an activity if its `show_launcher` is set to `no`

[2018-02-27 03:50] quozl commented on #785
There is a way but it involves Terminal; using `bin/sugar-activity`.

`show_launcher` was first mentioned around July 2008 and was used by activities such as Read, before there was a journal object chooser.  Now, Read is not a favourite, and by using the object chooser is fine to run alone.

An introductory welcome activity was once started automatically on first use.

An introductory tutorial act

[2018-02-27 03:52] Pro-Panda commented on #785
Thank you for the explanation :smile:

[2018-02-28 14:46] Pro-Panda commented on #786
An example of the proposed feature in lists would be list of mails in 'gmail', where a `click` toggles an individual entry, `ctrl+click` does the same thing, and `shift+click` does the proposed.

The selection criteria does the work well for me.

I agree that this might not be something we need, considering that we have more pressing issues already.

Thanks for pointing out the other issues. I wil

[2018-02-28 21:12] quozl commented on #786
So the proposal is adding `shift+click` to extend selection through a range, and `ctrl+click` to toggle an entry.  Post to sugar-devel@ with the [DESIGN] subject tag to engage with others.  Confine your post to the user interface or user experience dimension of the problem; don't get into implementation details.  Ignore any unrelated discussion on the thread that ensues.

For context, this was not

[2018-03-02 23:17] quozl commented on #786
Let's give it a week in the hope of meaningful on-topic replies.  If we don't get anything by 7th March, let's go ahead.

[2018-03-03 05:06] Pro-Panda commented on #786
Sure.
May we start after 11th ? (I will have exams until then)

[2018-03-03 05:12] quozl commented on #786
No rush.  I'm fine with adding this feature before about October.  :grin:

[2018-04-20 00:00] quozl opened #793 "sugar-control-panel harmless traceback"
Using `sugar-control-panel` command generates a harmless but emotionally disruptive traceback;

[code]

Return status is zero, which indicates success.  Actual output is the blank line before the shell prompt.

[2018-04-20 00:32] holta commented on #793
Perhaps this is a known issue, but FWIW the following legacy commands[*] do not appear to work in OLPC OS 13.2.9:
[code]
(@quozl has clarified that TZ command should not be run with sudo, as Sugar timezone is not a
system-wide configuration setting; it is local to the user.)

[*] Originally documented at: http://wiki.laptop.org/go/Sugar_Control_Panel#Setting_The_Timezone

[2018-04-20 04:57] quozl opened #794 "Wireless always on but shown as off"
_My Settings - Network - Radio_ toggle button is always off.  It can be turned on, but there is effect; after restart it is off again.  Wireless function continues to work regardless.

Ubuntu 18.04.

[2018-04-20 05:29] quozl commented on #793
Please don't post off-topic noise or steal the issue?  As you will have seen in my introduction on this issue, it is about the harmless traceback in the scenario where the commands do work.

[2018-05-14 05:49] quozl opened #795 "Resume with uses existing activity instance even if a different activity is chosen"
Reproducer: open Record, take a photo, switch to Journal, locate the photo, right-click, choose _Resume with_, and _Image Viewer_.

Expected result: Image Viewer activity starts and photo is shown.

Observed result: Record activity regains focus.

Workaround: stop Record activity before trying to _Resume with_.

_(issue created so that anyone else can work on the problem)_

[2018-05-30 14:30] Pro-Panda opened #796 "Keyboard input not being detected"
**Steps to Reproduce:**
 - Open Sugar Desktop
 - Press <kbd>alt</kbd> + <kbd>shift</kbd> + <kbd>m</kbd> to open control panel
 - Press <kbd>Escape</kbd>

No further keyboard input is detected

**Reproduced on:**
Ubuntu 16.04, rdesktop, using [sugar @489974f](https://github.com/sugarlabs/sugar/commit/489974f4243eb3a18c0bea07812c436ed8aa7d5c) and [Sugar Toolkit @58224cb](https://github.com/sugarlabs

[2018-05-31 14:49] Pro-Panda commented on #796
Issue is specific to VM (rdesktop).

[2018-05-31 14:49] #796 closed

[2018-06-09 13:27] drashti4 opened #797 "Add social media icon in README"
It would be great If we can add social media links on README i.e Twitter and Mailing list.

[2018-06-09 14:02] samswag commented on #797
I agree.

[2018-06-09 14:20] drashti4 commented on #797
Can you assign this to me? I am adding information of social media as per website details.

[2018-06-09 15:32] chimosky commented on #797
@drashti4 see [sugar contributing doc](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md), you don't need to be assigned to this, just make changes and send a PR.

[2018-06-11 03:11] Pro-Panda opened #799 "activity icon not resized while in detail view in journal"
**Steps to reproduce:**
 - Open `CowBulls` activity
 - Close `CowBulls` activity
 - Open Journal
 - Open the detail view of the `CowBulls` activity
 - Activity icon of the image appears than the usual size

![journal-resize-bug](https://user-images.githubusercontent.com/28059150/41211149-24afce6c-6d53-11e8-90c9-5eacf6c50d30.jpg)

**Reproduced on:**
 - Ubuntu 16.04, Sugar 0.112
 - Ubuntu 18.04, Sug

[2018-06-11 03:42] quozl commented on #799
No thanks.  Root cause is that the canvas size of CowBulls activity.svg is not (55px, 55px).  Please fix the icon.  See https://github.com/sugarlabs/sugar-docs/blob/master/src/sugar-iconify.md

[2018-06-11 03:42] #799 closed

[2018-06-11 04:01] Pro-Panda commented on #799
Noted. Thanks

[2018-09-21 04:32] quozl opened #807 "Strings with unnamed arguments cannot be properly localised"
While regenerating the POT file (e.g. 4e551f0330cf9db5023644cf32a9c012f7a119c9), warnings are issued for three source code lines;

[code]

The warnings issued are;

[2018-10-22 19:02] scootergrisen opened #808 "lt.po is in the root"
lt.po is in the root.
Must be a mistake.

[2018-10-24 05:54] quozl commented on #808
Yes.  Added by 78d05d8f58f951db16765620db0a627bc2e24b8d.  po/lt.po was added by 564de8a61cc43137e3dd6be7b11433bb746337b3 and is identical.

[2018-10-24 05:54] #808 closed

[2018-10-25 04:08] HarrisonLKatz opened #809 "Can not run the Sugar Development Environment"
After successfully installing sucrose, I could not manage to run the Sugar DE. I tried in both rdesktop and as a session, but I will focus more on the session error as there are more log files for that. The first time I ran the session, the setup went fine. After the setup was complete, though, the screen switch to a photo of my desktop instead of the Sugar DE. While it did have the Sugar cursor,

[2018-10-25 05:08] quozl commented on #809
Thanks, interesting.

Your `.sugar/default/logs/shell.log` contains this;
[code]

While this isn't the cause of your problem, it does show me you are using a very old version of Sugar, and we did fix several related problems after that version and before 0.112, and have fixed several since 0.112.  (The file viewhelp.py does not have an import of WebKit2, from 0.111 onwards).

Could you please try

[2018-10-25 05:59] HarrisonLKatz commented on #809
Installing those dependencies and updating to the bionic version did the trick - thank you!

[2018-10-25 05:59] #809 closed

[2018-11-24 07:43] quozl commented on #769
Caused by upgrade of metacity from 3.24.0 to 3.25.2, git bisect shows first bad commit is [unminimize windows with initial IconicState if first known on MapRequest](https://github.com/GNOME/metacity/commit/6875256e63fbfd4500ddd27a7bf1aafc8d4c1ca3 ported from [mutter](https://gitlab.gnome.org/GNOME/mutter/commit/be5c2eb).

[2018-11-24 12:42] nullr0ute commented on #769
We should probably report it upstream with metacity to get details.

[2018-11-27 07:29] quozl commented on #769
Thanks, that would be great.  I could not figure out where to report it upstream.

[2018-11-27 21:22] aperezbios commented on #769
@quozl , https://gitlab.gnome.org/GNOME/metacity/issues

[2018-11-28 00:40] quozl commented on #769
@aperezbios, thanks.  Banner blindness.  https://gitlab.gnome.org/GNOME/metacity/issues/4

[2018-11-29 20:03] jjliuhk opened #811 "Fedora-SoaS-armhfp-29.1.2-sda.raw.zx image stuck at waiting a start job"
I prepare a SD card (32G Samung EVO) with Fedora-SoaS-armhfp-29. 1.2-sda.raw.zx for my Raspberry Pi 3. It stuck at

A start job is running for dev-disk...device ...

I waited for over 30 minutes for a couple times and I also tried to prepare the image by dd and Etcher.io but it still failed.

I wonder if someone can advise how to fix it.

[2018-11-29 20:49] quozl commented on #811
No idea, sorry.  We don't have a start jobs for systemd in Sugar, so that message points to something in Fedora that hasn't worked, before Sugar is involved.  Do any of the other Fedora armhfp images work for you or do the same?

[2018-11-29 21:31] quozl commented on #769
Fixed in https://github.com/GNOME/metacity/commit/074af8f87ef89b13ff326fb5d04ee424bbfd4ced

[2018-11-29 21:31] #769 closed

[2018-12-09 17:17] pro-panda commented on #747
I am in favor of this suggestion

[2018-12-10 02:49] quozl commented on #747
Thanks.

Consequences of making the Journal part of the shell instead of an activity are;
* there would be no current activity icon below the centre icon after starting, or when all activity instances have been stopped,
* the Journal would be shown on the Frame without user colour,
* the <kbd>alt+tab<kbd> shortcut for switching between activity windows would omit the Journal.

My reasons against t

[2018-12-10 03:21] pro-panda commented on #747
I've never experienced this, could be true for slower systems. Are such user experiences and issues for slower systems documented ?
If not, should we do it ? (Could be useful to refer for proposing changes)

I agree, that should be part of the pull request for this change itself

I agree

[2018-12-10 03:38] quozl commented on #747
Journal startup becomes slower as the number of journal entries increases.  For slower systems, the access time of the device that holds `/home` also has an effect.  Simultaneous automatic system activity, such as Ubuntu or Fedora package list updates, or security update installation, can also increase startup time.

In my experience, it varies from half a second to half a minute.

It is hard to c

[2018-12-10 10:04] #807 closed

[2018-12-18 19:11] satellitee opened #814 "Neighbourhood view missing buddies with collaboration server in Fedora 29 and later"
https://bugzilla.redhat.com/show_bug.cgi?id=1660597  even with prosody "telnet jabber.sugarlabs.org 5222" connected in terminal

[2018-12-18 19:20] aperezbios commented on #814
I can independently confirm that, with jabber.sugarlabs.org configured as the presence server, under both Fedora 29 SoaS and SoaS  30/Rawhide, no other users are shown in the network neighborhood. Both versions of the Fedora SoaS are using Sugar 0.112.

[2018-12-18 20:02] aperezbios commented on #814
Here are the contents of the shell.log on my SoaS 29:

[code]

[2018-12-18 20:34] satellitee commented on #814
here are mine from soas f29: USB from sugar:

[satellit@localhost home]$ cd satellit
[satellit@localhost ~]$ ls
Desktop  Documents  Downloads  Music  Pictures  Public  Templates Videos
[satellit@localhost ~]$ cd .sugar
[satellit@localhost .sugar]$ ls
default
[satellit@localhost .sugar]$ cd default
[satellit@localhost default]$ ls
data  datastore  debug  favorite_activities  logs org.laptop.Termina

[2018-12-18 20:56] quozl commented on #814
Please list the Telepathy packages installed.  Thanks.

[2018-12-18 21:33] aperezbios commented on #814
Additionally, the standard telepathy packages installed under F30/rawhide (as of the time this comment was written) are identical to the F29 packages.

[2018-12-18 22:00] quozl commented on #814
Wild guess; the _error parsing public key_ results in a password of None which can't be encoded by D-Bus.  Almost as if a hash or crypto method was removed.  Corresponding log on Ubuntu 18.04 with Sugar 0.112 does not show the same sequence;

[code]

[2018-12-19 12:32] satellitee commented on #814
ssh -v Tgillard@sunjammer.sugarlabs.org
works the keys in .ssh folder are correct ie:I can log in

[2018-12-19 22:55] quozl commented on #814
Nothing to do with your SSH key ... or car keys.  :grin:  I was talking about the identity keys that Sugar creates on first login and presents to the server.  Next action is to debug the key creation sequence in Python.

[2018-12-20 10:33] satellitee commented on #814
https://wiki.sugarlabs.org/go/File:Ssh_err_in_oracle.png
permission denied publickey  (Oracle Virtualbox)

[2018-12-21 05:34] quozl commented on #814
@aperezbios, alternatively, check the `ssh-keygen` command used by Sugar;

https://github.com/sugarlabs/sugar/blob/master/src/jarabe/intro/window.py#L83

Can Fedora 29 generate DSA keys?  I'd hope so.

[2018-12-21 19:40] aperezbios commented on #814
The result of my testing with Fedora SoaS versions 28, 29, and rawhide, which will become F30, is that the the import from sugar3.profile and invocation of get_pubkey() returns the expected key, so that path does not appear to be the source of the problem.

[2018-12-21 19:42] aperezbios commented on #814
I also tested by manually invoking 'ssh-key -t dsa' on Fedora SoaS 28, 29, and rawhide, and the resulting DSA key is succesfully created.

[2018-12-21 21:51] quozl commented on #814
Thanks!  Sounds like it will need interactive debugging.

[2018-12-23 17:46] pro-panda opened #815 "activitychooser window is not modal and adds dependency of toolkit to jarabe"
- [ ] [ActivityChooser](https://github.com/sugarlabs/sugar/blob/master/src/jarabe/desktop/activitychooser.py) needs to be made modal
 - [ ] `PopWindow` needs to be moved from `sugar-toolkit-gtk3` to `sugar`, in order to remove dependency of toolkit on jarabe

[2019-01-01 05:07] quozl commented on #814
[code]
OpenSSH has changed the format of the key file.

[2019-01-01 05:07] #814 closed

[2019-01-01 21:58] FGrose commented on #814
Fixed commit 39b7e606 with f2289097

[2019-01-03 23:45] satellitee commented on #814
Fedora-SoaS-Live-x86_64-Rawhide-20190102.n.0.iso
https://wiki.sugarlabs.org/go/File:20190102-fail.png
liveinst and liveinst -T (text) fail

Fedora-KDE-Live-x86_64-Rawhide-20190102.n.0.iso installs in Oracle VB correctly?

[2019-01-03 23:56] quozl commented on #814
@satellitee, thanks for your comment, but it is off-topic.  This GitHub issue is about missing buddies on Neighbourhood View.  I'll hide your comment and mine shortly.  But to answer your comment;

* you can add screenshots to GitHub without putting them on Wiki,
* the screenshot shows a different problem; liveinst -T spins the CPU and apparently does nothing useful, best to raise this with Fedora

[2019-01-04 22:01] satellitee opened #816 "fedora soas browser ... index.html heading "school" should be "http://schoolserver.org""
"school": does not connect to "http//schoolserver"but does link to "http://schoolserver.org" if  .org is added to  search line.

[2019-01-04 22:03] satellitee commented on #816
Fedora-SoaS-Live-x86_64-Rawhide-20190102.n.0.iso

[2019-01-05 11:07] tony37 commented on #816
I can't see how this discussion does anything add confusion.

Sugar with the Browse activity can be a client of a server on a public
or private network. The http://schoolserver.org is a private domain
registered with the Internet in a Box team. However, http:schoolserver
is normally assigned by dns to 172.18.96.1 which by convention assigned
to the schoolserver on a private local network.

Cerntai

[2019-01-06 21:30] quozl commented on #816
@satellitee, test the link with a schoolserver on your network.  If it doesn't work, then check your virtual machine networking and mDNS configuration and then raise a ticket with the team that provided the schoolserver.

[2019-01-08 16:15] mk1299 commented on #787
Hi.I'm interested in working on this(starting with goal one) but I wanted to ask that do I have to make only one PR for one goal or are multiple PRs for a single goal acceptable.

[2019-01-09 04:45] quozl commented on #787
Thanks for your interest.  We have a pull request for some of this, see https://github.com/sugarlabs/sugar/pull/805, linked above.  Please test the code in the pull request, along with the corresponding code in all other dependencies, and let us know.  See the other Python 3 projects linked from the https://github.com/sugarlabs organisation.

This is not an easy one.  You'll need to budget several

[2019-01-11 03:31] #763 closed

[2019-01-11 03:54] #767 closed

[2019-01-19 09:07] manddy commented on #787
@quozl  which framework do you use for  automated testing in this project?

[2019-01-20 21:05] quozl commented on #787
@manddy, there is no automated testing of Sugar or activities.  Over past ten years it has been suggested a few times, but nobody has completed more than a brief attempt.  Our [advice to reviewers](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#guide-for-reviewers) includes testing.

[2019-02-14 02:24] quozl opened #818 "activities.sugarlabs.org is not restricting bundles by Sugar version"
Reproducer: start Browse activity, go to activities.sugarlabs.org, click on News category.

Observed result: GogoNews is offered.

Expected result: GogoNews is not offered, because it is not listed as compatible with 0.112

Reported by: @aperezbios.

[2019-02-14 04:00] tony37 commented on #818
I don't see a connection between the text and the subject. How should
ASLO restrict bundles by Sugar version (it doesn't even document the
Sugar versions for which the bundles work accurately.

Tony

On 2/14/19 10:24 AM, James Cameron wrote:

[2019-02-14 04:18] quozl commented on #818
Thanks.  You ask how should it be done; here's how it was done.  Browse sends HTTP User Agent value containing Sugar version and ASLO would limit search results.

Here's the [code in Browse](https://github.com/sugarlabs/browse-activity/blob/230a27806544de5eb4840af95bb76d1286ad6288/browser.py#L672) that sends User Agent.

Here's the [code in ASLO](https://github.com/sugarlabs/aslo/blob/6a177c9594cb

[2019-03-02 17:00] yshkp commented on #815
@pro-panda I want to take this issue but before that help me to initiate by understanding the code base so that I can contribute further.

[2019-03-03 05:42] yshkp commented on #815
@quozl  PTAL

[2019-03-03 07:58] GauthamSks commented on #787
I went through #805 and saw that u have already ported a lot of files in src/jarabe to python3. So
only the rest of files need to be ported right?

[2019-03-03 09:54] GauthamSks commented on #787
I went through #805 [0] and found that a lot of the files in src/jarabe
has already been changed. So only the rest of the files needs to be changed right?

[2019-03-04 00:19] quozl commented on #815
@yshkp, thanks, but you can't take issues.  We don't work that way.  See our [guide to contributing code](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) which says;

There's nothing stopping anyone else from solving the issue even if you have stated an interest in it.

Also, you should familiarise yourself with the code base and tools; if we had time to guide you, we woul

[2019-03-04 00:26] quozl commented on #787
@GauthamSks, see the opening comment in this issue for a breakdown of the progress goals in this issue.  Also included are the dependent issues that must be solved to some extent first.

If there's something I've missed, let me know and I'll edit the opening comment accordingly.

[2019-03-07 23:08] quozl opened #819 "Frame icons vanish when frame palettes open"
Reproducer: open the frame, hover mouse or touch the battery or speaker icon.

Expected result: palette for icon is drawn, no other changes.

Observed result: palette for icon is drawn, but other icons may vanish.  Is most likely on first use of palette for an icon; repeated uses don't cause other icons to vanish.

Occurs on Ubuntu 18.04

[2019-03-08 00:43] quozl opened #820 "Collaboration performance regression"
On Ubuntu 18.04 on two laptops connected to an ad-hoc network, it takes 27 seconds between asking to join a shared Chat activity and being told the connection is ready.  This used to be much faster.

* [ ] identify the sources of delay,
* [ ] make changes as appropriate to Ubuntu, Telepathy, Sugar, Toolkit, or Chat.

[2019-03-13 03:54] quozl opened #821 "README.md and docs/ are not in tarball"
The sugar-*.tar.xz file generated by `make dist` or `make distcheck` does not include the file `README.md` and the directory `docs/`.

[2019-03-14 00:21] quozl opened #822 "0.113 fails due to popwindow move incomplete"
After login, the Sugar Home View does not appear, and control is returned to the display manager.  Log file `shell.log` contains;

[code]

Fixed in a83257b.  Thanks to @pro-panda.

[2019-03-14 01:14] quozl opened #823 "Feature: Add a stop button to journal"
Leaving the journal for the home view can be done with F3, or F6.  For new users, perhaps it would be handy to have a stop button which does the same thing.  An escape key might also do the same.  Downside is reduced journal search entry box size.

* [ ] discussion of user experience and design, leading to consensus,
* [ ] identify or add method for journal to activate home view,
* [ ] add stop bu

[2019-03-14 03:01] quozl opened #824 "Journal long touch shows menu, but menu vanishes on release, Sugar locks up"
When used with a touchscreen, the Journal object menu (Resume, Resume with, Copy to, ... Erase) does not stay visible after the finger is removed.

On Ubuntu 18.04 with Sugar 0.113, the menu does vanish.

On Fedora 18 with Sugar 0.112, the menu may vanish, or may stay visible, but selecting anything from the menu locks up the screen, and Sugar must be restarted.

[2019-03-14 03:03] quozl opened #825 "Home view long touch displays menu in unusual location"
In the home view, a long touch on an activity displays the menu in the top left of the screen.  The menu should be displayed near the finger press.

[2019-03-14 03:09] tony37 commented on #823
The problem is that the Journal is treated as an activity. If it did not
take the button of the current activity, the user can return by clicking
on the current activity.
Since the Journal always has an active button, making it behave like an
activty is unnecessary.

Tony

On 3/14/19 9:14 AM, James Cameron wrote:

[2019-03-14 03:18] quozl commented on #823
No, it doesn't always have an active button.  Some systems don't have <kbd>F5</kbd> key that works without pressing <kbd>Fn</kbd> first.  I'm working on such a system now.

[2019-03-15 22:49] aperezbios commented on #778
Possibly relevant: https://github.com/mrichar1/clipster/issues/53

[2019-03-25 00:53] quozl opened #827 "Restore org.gnome.desktop.interface cursor-theme"
The Sugar cursor affects the GNOME desktop environment.

This is caused by https://github.com/sugarlabs/sugar/blob/master/src/jarabe/main.py#L205 where the GNOME desktop cursor theme is changed to the Sugar theme.

Workaround is to use `gsettings` to change _cursor-theme_ in _org.gnome.desktop.interface_ back to what it was.  Or you can use `dconf` to reset all settings, but that has many side-eff

[2019-03-25 10:46] vanitaa commented on #787
I wanted to contribute for GSoC 2019 this as a project can anyone help me on where can I start contributing and how should I proceed

[2019-03-26 08:25] kushagra98 commented on #827
#828 Checked on my machine and works perfectly :smiley:

[2019-04-02 15:03] Aniket21mathur commented on #815
@pro-panda this issues needs to be updated the second task is already done.Thanks!

[2019-04-22 15:53] aperezbios commented on #822
We need to incorporate this fix, and release 0.114, urgently.

[2019-05-01 02:48] quozl commented on #822
Thanks.  Fix was already merged.

I'm waiting for feedback and testing of 0.113 before I release 0.114.

[2019-05-23 06:37] Aniket21mathur opened #833 "Running sucrose after installing new toolkit in Native method."
Following the native method, after installing the new toolkit, to install sugar packages we are running `sudo apt install sucrose`. In this way aren't we overidding the new toolkit with the old one. Shouldn't we first do `sudo apt install sucrose` and then install the new toolkit to ensure that it is called on running sugar? @nswarup14 please give inputs.
@quozl what are your opinions?

[2019-05-23 09:52] quozl commented on #833
Not in front of me at the moment, but don't the instructions say later to remove the packages?

--
James Cameron
http://quozl.netrek.org/

[2019-05-23 11:19] Aniket21mathur commented on #833
Yes the instructions say that, but won't it be better If we install the toolkit latter. In that case the removal of packages would not be required. What do you think?

[2019-05-23 22:05] quozl commented on #833
Well, the packages are being installed only to quickly satisfy the [dependencies wicked problem](http://lists.sugarlabs.org/archive/sugar-devel/2019-May/056876.html).  A simpler alternative is to get those dependencies using this method, then add them to the instructions, and perhaps also to a file DEPENDENCIES.debian in this repository.  Then in future the file will not change as Debian and Ubunt

[2019-05-28 10:10] Aniket21mathur opened #835 "Unable to open Network -> My settings in Sugar Desktop."
I got this in logs, might be related to it

[code]
Using Ubuntu 18.04. Sugar v0.112.

[2019-05-28 10:25] quozl commented on #835
Missing dependency.  Please;

`sudo apt install gir1.2-networkmanager-1.0`

Thanks!

[2019-05-28 10:46] Aniket21mathur commented on #835
Thanks. Worked!

[2019-05-28 10:46] #835 closed

[2019-05-30 12:00] Aniket21mathur commented on #833
Thanks.

[2019-05-30 12:00] #833 closed

[2019-06-05 07:24] quozl opened #836 "Port to TelepathyGLib"
Sugar is using the static binding, `from telepathy ... import`.

[2019-06-05 12:06] Aniket21mathur commented on #822
@quozl Can we close this now?

[2019-06-05 21:57] #822 closed

[2019-06-06 00:14] quozl opened #838 "Remove embedded empy"
empy is embedded in the `data` directory.  We removed this from _sugar-artwork_ for the 0.113 release, but neglected to remove it from _sugar_.  Suggested steps;

* [ ] fix references, `data/Makefile.am`,
* [ ] remove `em.py`,
* [ ] test with packaged empy,
* [ ] add to dependencies in `docs`,
* [ ] begin maintaining a NEWS file, for use by the downstream packagers.

[2019-06-07 06:59] #838 closed

[2019-06-12 03:51] quozl opened #840 "Neighbourhood view not updated on shared activity stop"
When an invited user stops a shared activity, the neighbourhood view may be incorrectly updated.

Reproducer;
* on instance one, start and share the CollabWrapper test activity,
* on instance two, join the shared activity from the neighbourhood view, then stop it

Observed behaviour;
* on instance one, two buddy icons are shown on neighbourhood view for instance two,
* on instance two, the buddy i

[2019-06-12 03:58] aperezbios commented on #840
Was this against a released version of Sugar, top-of-trunk, or a branch?

[2019-06-12 04:00] quozl commented on #840
Yes.

[2019-06-12 04:03] aperezbios commented on #840
All of the above?

[2019-06-12 05:07] quozl commented on #840
Sure, that's another way of looking at it.  At least released versions 0.112, 0.113, 0.114, _master_, and _python3_ branches are affected, as are the branches in development for TelepathyGLib porting.

[2019-06-13 06:27] Aniket21mathur commented on #840
My question might be off-topic.
I went through the dbus documentation and classes. We are using [dbus.ByteArray](https://dbus.freedesktop.org/doc/dbus-python/dbus.html#dbus.ByteArray) class. But as per the documentation it takes only one `str` argument. `variant_level` is taken as an argument by `dbus.Byte` class.
I don't know whether my question is relevant, just had it in my mind so posted. :swe

[2019-06-13 07:39] quozl commented on #840
_variant_level_ is an argument for _dbus.Byte_, so it is logical by inheritance that it is available for use in a _dbus.ByteArray_.

[code]

[2019-06-13 07:45] Aniket21mathur commented on #840
Thanks for explaining. :-).

[2019-06-25 16:51] Aniket21mathur opened #841 "Error while inviting user to join a activity"
Got the following traceback while accepting invite from a user to join the Chat activity with head at
https://github.com/sugarlabs/sugar/commit/7aea5d1fbc9197dd325a05a6f66c1b42d7bb757b and https://github.com/sugarlabs/sugar/commit/325876f3ae671ad547b796affb5fbbec215523bd.

[code]
**Reproducer**
* Run Chat on two sugar instances
* From one instance share the chat activity to neighbourhood.
* From n

[2019-06-25 17:05] #841 closed

[2019-06-25 17:06] Aniket21mathur commented on #841
@quozl closed the issue as the toolkit-code is not yet merged into master. But please have a look.

[2019-06-25 18:06] pro-panda commented on #841
Reviewed.
Not reproduced. Will do when I get a chance

[2019-06-25 18:07] Aniket21mathur commented on #841
Thanks :-)

[2019-06-25 18:34] nerdomancer commented on #811
Any update on this issue? I am running into it as well.

[2019-06-25 22:47] quozl commented on #811
It isn't a problem we have any direct control over, because Sugar does
not use systemd.  I recommend you try a later version of Fedora, and
engage with the Fedora bug tracker.  If you don't want to bother with
that, install Raspbian, then install Sugar.

[2019-06-26 03:26] Aniket21mathur commented on #841
Testing https://github.com/sugarlabs/sugar/pull/837/commits/3dcd97a1d295b1f5602f87fa00b71500ebee3dd9 with toolkit v0.112 do not produce this error.

[2019-06-26 07:32] quozl commented on #841
Your changes to src/sugar3/activity/activity.py removed DBusProperties
which has effect of not providing the three functions with
@dbus.service.method decorator; Get, Set, and GetAll.

Consequently, _ClientHandler isn't registered as a D-Bus interface.

[2019-06-26 08:14] Aniket21mathur commented on #841
Thanks, adding those functions result in correct functioning.

[2019-06-29 04:06] Aniket21mathur opened #842 "Root error while transferring files between users"
[code]
**Reproducer**
* Get a file to share say a text file from the write activity.
* Send to one of the friend.
* Accept file from  friend's sugar instance.

Check `shell.logs`.

[2019-06-29 04:14] Aniket21mathur opened #843 "Traceback related to #840."
[code]
**Reproducer**
* Share a file between two sugar instances from journal.
* Reproduce #840
* Check shell.logs

[2019-06-29 04:32] quozl commented on #843
It's probably #840.  Would require `dbus-monitor` to verify, but not sure of why we would need to.  During the time that one of the Telepathy processes is dead or dumping core, the numeric service name won't be valid.  Test again once #840 is fixed.

[2019-06-29 04:35] quozl commented on #842
src/jarabe/model/invites.py contains __handle_with_reply_cb, so is this issue with master branch or a later commit?

[2019-06-29 04:38] Aniket21mathur commented on #842
I got this with the master branch with the static bindings.

[2019-06-29 04:42] quozl commented on #842
Good, thanks.

[2019-06-29 05:49] Aniket21mathur commented on #815
@pro-panda  @quozl Can you please explain, what exactly we have to do to fix

Thanks!

[2019-06-30 19:46] pro-panda commented on #815
See [modal window](https://en.wikipedia.org/wiki/Modal_window).

Please see discussion in https://en.wikipedia.org/wiki/Modal_window and https://github.com/pro-panda/sugar/pull/2. I was at fault for discussing in PRs and not on the issue itself.

[2019-07-02 07:05] Aniket21mathur commented on #815
@pro-panda I am not able to understand how to access or which one is the _activitychooserwindow_ in sugar desktop. Need help.
Thanks!

[2019-07-02 18:21] pro-panda commented on #815
Goto Journal > Projects > Create a new project or select an existing one > Create a new entry
The window that pops up displaying a list of activities to select from is `activitychooserwindow`

[2019-07-03 04:10] Aniket21mathur commented on #815
Thanks for explaining. :-)

[2019-07-06 05:38] Aniket21mathur commented on #842
No need to Accept from the friend's end. Just check `shell.logs` of friend's sugar instance after sending a file transfer request.

[2019-07-06 06:46] Aniket21mathur commented on #842
Sugar seems to handle file transfer through __dispatch_non_sugar_invitation_ method of the _Invites_ class. This method called the __call_handle_with_ method with an empty _handler_ hence causing the exception. Fixed in  https://github.com/Aniket21mathur/sugar/commit/7e6432fb0f2536bd13a9c9e86e160218ee50a1b2.

[2019-07-06 09:12] quozl commented on #842
Sorry, but I think you're wrong in your interpretation.

* [ChannelDispatchOperation.HandleWith](https://telepathy.freedesktop.org/spec/Channel_Dispatch_Operation.html#Method:HandleWith) does accept an empty handler, which means the "client has no preferred channel handler",
* the error says there is no `HandleWith` method; it doesn't say there is anything wrong with the handler argument.

It is m

[2019-07-06 09:15] Aniket21mathur commented on #842
Thanks for correcting I will look into it :-).

[2019-07-09 00:56] #836 closed

[2019-07-14 14:27] sukhdeepg commented on #821
@quozl I would like to contribute to this. It would really help if you can elaborate on the issue.

[2019-07-16 00:03] quozl commented on #821
I've elaborated.  Please proceed.

[2019-07-17 16:37] sukhdeepg commented on #821
@quozl
This is what I tried until now:
When I ran `autoreconf -i` and `./configure`, it gave me _m4 folder_ and intltool error. Then I tried [native sugar](https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md#native-sugar) method. This generated sugar folder which had _m4 folder_ and thus the `./configure` command ran without error.
If we add the file name over here:
![Sc

[2019-07-17 21:03] quozl commented on #821
Thanks.  But no, I won't help at that level of detail.  That would be _me fixing the problem_.  If I were going to fix the problem at the time, I would not have created an issue, but a pull request.

GNU Autotools is a well known open source software product.  This ticket would be best worked upon by someone already familiar with GNU Autotools.  Alternatively, you might make experimental changes u

[2019-07-18 04:55] sukhdeepg commented on #821
Understood. After digging more and testing, I've made some changes and created a pull request. Please go through it once.

[2019-07-18 05:28] #821 closed

[2019-07-18 05:30] quozl commented on #821
Now that you know something about GNU Autotools, consider helping Aniket with the remaining step in "Port to Six" issue 382 in https://github.com/sugarlabs/sugar-toolkit-gtk3/issues? :grin:

[2019-07-18 06:00] sukhdeepg commented on #821
Will do.

[2019-08-07 02:35] quozl opened #848 "Social Help has no loading feedback"
Social Help (<kbd>shift+alt+h</kbd> and click on heart icon) does not give any visual feedback to say that the embedded web browser is loading.

[2019-08-07 02:41] quozl opened #849 "About my Computer missing full license expand icon"
License for Sugar was fully available in My Settings - About my Computer, by clicking on a right-facing triangle icon to the left of the words "Full license".

Icon no longer renders on Ubuntu 18.04, so it isn't clear that the user can click in that place to read the license.

[2019-08-07 02:51] quozl opened #850 "Inadequate response to scaling and font size changes"
On a display of resolution 1366x768, changing SUGAR_SCALING from 72 to 100, and changing _org.sugarlabs.font_ _default-size_ from 10.0 to 13.0, then restarting Sugar, resulted in some regressions to appearance;

  - My Settings - a row of icons was partially visible; could calculate a size that gives whole rows only,
  - My Settings - About Me - did not fit, and has no scroll bar,
  - My Settings

[2019-08-14 07:52] quozl opened #853 "Copy to Documents fails with TypeError"
[code]

Object being copied was from Browse activity.

[2019-08-14 07:54] quozl opened #854 "About my Computer hangs"
Reproducer: open My Settings, click on About my Computer.

Expected result: About my Computer panel shown.

Observed result: check button appears top right, and shell.log contains;

[code]

[2019-08-14 07:57] quozl opened #855 "Language control panel emits warning in logs"
[code]

[2019-08-14 08:12] quozl opened #856 "Text clipping cannot be removed from Frame"
Reproducer: start Terminal activity, select an area of text, use ctrl+shift+c shortcut to copy text, open the Frame, right click on the clipping, select Remove.

Expected result: text clipping is removed.

Observed result: text clipping remains.

shell.log contains;

[code]

[2019-08-14 08:13] quozl opened #857 "Cannot take screenshot"
Reproducer: open Frame, right-click on display, select _Take a screenshot_.

Expected result: screenshot added to Journal

Observed result: no screenshot added to Journal

shell.log
[code]

[2019-08-15 06:15] Aniket21mathur opened #858 "Configure still checks for python-empy instead of python3-empy"

[2019-08-15 06:41] quozl commented on #858
Also, on Fedora 30 there is no `/usr/bin/empy`, only `/usr/lib/python{2.7,3.7}/site-packages/em.py`, so the check fails.  "configure: error: python-empy is required".

[2019-08-15 16:08] Aniket21mathur opened #859 "Packaging guide for Python 3 packages"
We currently have guide for python 2 packaging, [Link](https://github.com/sugarlabs/sugar/blob/master/docs/debian-packaging-example.md).

But changes need to be made in the `deb` file for packaging for Python 3. A proper documentation for packaging will be of great help.

[2019-08-15 16:12] Aniket21mathur commented on #859
@quozl @pro-panda while making Python 3 packages for sugar-datastore, I made some changes in `control` file of `debian` directory copied from Python 2 sources as per above guide. I am not sure whether that's all what we need or some other changes also needed to be made. Please review those changes.

Thanks!

[2019-08-15 22:50] quozl commented on #859
Thanks.  I don't yet know what changes are needed in the packaging guide.

While you've done some changes that a Debian developer would do eventually (once we have made a release and they have packaged it), the guide presupposes that the existing packaging would be used as a basis.  A Debian developer could change how the package is made.  In other words, if we document _now_, our effort could be

[2019-08-16 06:15] Aniket21mathur commented on #859
Agreed. Let's wait for the Debian developers to package before having a guide of our own.

Thanks!

[2019-08-18 13:08] bhulsken commented on #787
I have built fedora (29) RPMS to do some testing. While the toolkit and such work, and most activities run (both python2 as well as python3 ones), sugar itself does not, due to a dependency on gwebsockets (sugar -> jarabe -> gwebsockets )

gwebsockets hasn't been maintained since 2014, and currently does not support python3

what is your plan? Port gwebsockets to python 3? Or just like telepathy,

[2019-08-18 18:15] bhulsken commented on #787
Well.. since the port seemed trivial, I've given porting gwebsocket a shot, please see  https://steadydecline.net/public/sugar-python3/ for a full set of RPM and .src.rpm that should lead to a running sugar desktop.

Sugar starts for me now with gwebsockets-python3, and the Python 3 port of Browse works, the Python 2 Physics activity works as well... some others (e.g. Speak) seem broken. And there

[2019-08-19 08:41] quozl opened #860 "TypeError: string argument without an encoding"

[2019-08-19 08:42] quozl commented on #860
[code]

Reported by @bhulsken.

[2019-08-19 08:44] quozl opened #861 "AttributeError: 'str' object has no attribute 'decode'"
[code]

Reported by @bhulsken.

[2019-08-19 08:45] quozl opened #862 "TypeError: slice indices must be integers or None or have an __index__ method"
[code]

Reported by @bhulsken.

[2019-08-19 08:46] quozl opened #863 "dbus.exceptions.DBusException: org.freedesktop.DBus.Python.TypeError: Traceback (most recent call last):"
[code]

Reported by @bhulsken

[2019-08-19 08:47] quozl opened #864 "AttributeError: 'NoneType' object has no attribute 'add_window'"
[code]

Reported by @bhulsken.

[2019-08-19 08:49] quozl commented on #787
Thanks.  We had already ported gwebsockets, and tagged 0.5, see [repository](https://github.com/sugarlabs/gwebsockets).  Your port seems about the same, except for imports in the test harness, which we haven't got working yet.  You might led Fedora know that we have a new version ready.

I've raised separate issues for the other errors.  Thanks for testing on Fedora.

[2019-08-20 05:45] quozl opened #865 "TypeError: a bytes-like object is required, not 'str'"
[code]

Blocking test of https://github.com/sugarlabs/log-activity/pull/9 because the collect file cannot be easily obtained.

[2019-08-29 02:55] quozl opened #866 "PyGIDeprecationWarning"
On Ubuntu 19.04 shell.log contains

[code]

No functional impact.

[2019-08-29 02:59] #865 closed

[2019-08-29 03:19] quozl opened #867 "jarabe.model.screenshot.IOError: error while writing to output stream"
Screenshot does not work; there is no journal object created.  shell.log contains

[code]

[2019-08-29 03:20] quozl opened #868 "Logs are not line buffered"
Sugar on Python 2 log files are line-buffered, such that `tail` and `cat` can see output in logs as it happens.

Sugar on Python 3 has lost this feature.

[2019-08-29 03:28] quozl opened #869 "Focus lost during Journal search"
Reproducer: create several journal objects, display the journal, click in the search box, begin typing the word "activity" slowly while watching the cursor.  Repeat again but pause typing within the word.

Expected result: the word "activity" is in the box and the journal displays only those objects containing the word.

Observed result: if the pause is long enough, focus is lost, and the remainin

[2019-08-29 04:13] quozl commented on #863
I've tried but unable to reproduce.

[2019-08-29 04:30] #860 closed

[2019-08-29 04:40] #862 closed

[2019-08-29 04:40] #863 closed

[2019-08-29 05:02] quozl commented on #863
Caused by division now yielding a float, https://github.com/sugarlabs/sugar/issues/862.

[2019-08-30 05:48] quozl opened #870 "Feature - handle datastore restart"
When the datastore process is terminated by hand or through error, the Sugar session does not recover, and the datastore is not restarted.  This may be because Sugar does not;

* detect the consequent error on next transaction; _dbus.exceptions.DBusException: org.freedesktop.DBus.Error.ServiceUnknown: The name :1.20 was not provided by any .service files_,
* open a new interface over D-Bus.

[2019-08-30 06:45] quozl commented on #868
Calling _logging.get_logger()_ and then changing _logging.*_ invocations to _logger.*_ fixes the problem in datastore.  Sugar has used _logging.*_ too.

[2019-08-31 18:13] nswarup14 commented on #867
@quozl
Seems like a duplication of the Issue #857

[2019-09-01 22:08] quozl commented on #867
Probably.

[2019-09-02 04:53] Aniket21mathur commented on #867
The tracebacks for both are looking identical, probably both the issues will have the same fix.

[2019-09-03 06:44] quozl commented on #866
Fixed in a private branch.

[2019-09-03 06:44] quozl commented on #854
Message is irrelevant, and incorrect.  Fixed the message in a private branch.

[2019-09-03 08:03] quozl commented on #854
Fixed in a private branch.

[2019-09-03 18:45] worldinmyfist opened #871 "Random text in output stream"
Issue : While changing the tty, random text appears on the output stream
Reproduction on the issue : Press Alt + Ctrl + F3 to change the tty. The screen comes as below :
![index](https://user-images.githubusercontent.com/43772341/64199905-02022280-cea9-11e9-90c2-d339f61ad5e3.jpeg)

[2019-09-03 19:14] aperezbios commented on #871
This appears to be a system-level problem, having absolutely nothing to do with Sugar.

[2019-09-03 19:27] quozl commented on #871
I agree, nothing to do with Sugar.

[2019-09-03 19:27] #871 closed

[2019-09-03 19:28] worldinmyfist commented on #871
Sir

I opened tty with Ubuntu it gave no issues , it is happening only with
sugar and I tried on two different laptops

On Wed, 4 Sep 2019 at 12:57 AM, James Cameron <notifications@github.com>
wrote:

[2019-09-03 20:12] quozl commented on #871
Sugar doesn't provide tty except through the Terminal activity.  You're using a feature of your operating system that Sugar has nothing to do with.

[2019-09-03 22:56] quozl commented on #867
I've a fix for this.

[2019-09-03 22:56] quozl commented on #857
I've a fix for this.

[2019-09-03 23:03] quozl commented on #853
Fixed in https://github.com/sugarlabs/sugar/commit/68321ffe4f53543d9e4f1533ce07164afa303d95

[2019-09-03 23:03] #853 closed

[2019-09-03 23:23] quozl commented on #858
I've a fix for this.

[2019-09-04 03:42] worldinmyfist opened #872 "Cursor changed automatically"
Issue: When I installed sugar desktop environment, the cursor automatically changed on ubuntu even though I did not do it explicitly
The cursor is same as that of sugar DE.

![WhatsApp Image 2019-09-04 at 9 10 28 AM](https://user-images.githubusercontent.com/43772341/64224150-17e90500-cef4-11e9-9fab-4495df18db35.jpeg)

[2019-09-04 03:44] quozl commented on #872
Yes, known problem.  See https://github.com/sugarlabs/sugar/issues/827

[2019-09-04 06:32] quozl opened #873 "DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses"
Warning appears during "make install".

[2019-09-04 09:10] quozl commented on #856
Fixing the above tracebacks;

[code]

However, reveals next tracebacks;

[code]

Also, the palette display of the clipping text has a b'' wrapper.

[2019-09-05 00:06] #811 closed

[2019-09-05 03:04] #854 closed

[2019-09-05 03:04] #857 closed

[2019-09-05 03:04] #866 closed

[2019-09-05 03:04] #867 closed

[2019-09-05 03:37] quozl commented on #858
https://github.com/sugarlabs/sugar-artwork/commit/d47694d756bf04a5f8b407bcdef9af781798a8e7

[2019-09-05 03:37] #858 closed

[2019-09-08 08:10] worldinmyfist opened #874 "For new Sugar users"
Enhancement:
To make a text file available to new Sugar users, so that they get to learn Sugar DE very fast because this is basically for students.

[2019-09-08 08:10] worldinmyfist commented on #874
Also i want to work on this issue if approved

[2019-09-08 18:09] iamprayush commented on #864
I'd like to work on solving this issue. I'm new here so could you please guide me on how to begin. Thanks in advance.

[2019-09-08 22:22] quozl commented on #864
Thanks for offering.

To explain how to fix the issue I've looked at the traceback message, the source code near line 624, the entire function, the entire [log reported](https://github.com/sugarlabs/sugar/issues/787#issuecomment-522343301), and then considered the message in relation to the previous messages in the same log.

The traceback was a consequence of the Journal failing to start.  In tur

[2019-09-08 22:22] #864 closed

[2019-09-08 22:38] quozl commented on #874
Thanks for offering.  There is work that can be done, but perhaps not in the way you expect.

Think about who these students are.  Sugar is designed for pre-literate children from age 5 onwards, which is why we use icons and discoverability in the user interface.  Text use is limited, but brief.  Text is translated into [several languages](https://translate.sugarlabs.org/).  See note below.

We ha

[2019-09-09 01:40] worldinmyfist commented on #874
Thanks

On Mon, 9 Sep 2019 at 4:08 AM, James Cameron <notifications@github.com>
wrote:

[2019-09-09 07:27] iamprayush commented on #864
Hi,
I actually used sugar labs and was thoroughly impressed with it. When I
found out that its open sourced, I wanted to contribute to it. Could you
help me pick a starting point to get familiar with the codebase or maybe
there are some issues I can help solve. I'm fairly proficient in python.
Thanks,
Prayush Dawda

On Mon, Sep 9, 2019, 3:52 AM James Cameron <notifications@github.com> wrote:

[2019-09-09 07:47] quozl commented on #864
For Python skills, best places to contribute to Sugar Labs are in the Sugar and activities software.

(For JavaScript skills, best places to contribute to Sugar Labs are in the Sugarizer and Music Blocks software.  See [programming languages](https://github.com/sugarlabs/sugar-docs/blob/master/src/languages.md) in case you have other skills.)

Your question about a starting point is common, but I'

[2019-10-11 02:59] acc3ssd opened #876 "Sugar on a Stick on Raspberry Pi hangs on "A start job is running for /dev/""
I'm trying to install Sugar on a Stick on a Raspberry Pi 3B, but when I try to boot it, it hangs saying: "A start job is running for /dev/dis..." followed by a sting of characters and then the amount of time it's been running. I tried letting it run for an hour, but it did not proceed to the setup wizard.

I downloaded the Fedora image and verified the checksum. I've tried writing the image using

[2019-10-11 03:06] quozl commented on #876
Which version of Fedora?  Last I heard, the Fedora 30 version did something like this, but the Fedora 31 version yet to be released seems to have fixed it.

[2019-10-11 03:14] acc3ssd commented on #876
Fedora 30. I downloaded the Sugar on a Stick image from https://arm.fedoraproject.org/.

Do you know what the workaround to this issue is?

[2019-10-11 03:25] quozl commented on #876
One workaround is to install another of the Fedora 30 images, and then use our [instructions to install Sugar on Fedora](https://github.com/sugarlabs/sugar/blob/master/docs/fedora.md).

Another workaround is to install Raspian and then use our [instructions to install Sugar on Debian](https://github.com/sugarlabs/sugar/blob/master/docs/debian.md) since Raspbian is derived from Debian.

I don't rec

[2019-10-11 17:33] aperezbios commented on #876
Fedora 31 is literal days away from being released in final form. Try this, the most recent F31 nightly: https://kojipkgs.fedoraproject.org/compose/branched/Fedora-31-20191010.n.0/compose/Spins/armhfp/images/Fedora-Minimal-armhfp-31-20191010.n.0-sda.raw.xz

[2019-10-11 20:25] acc3ssd commented on #876
Thank you both very much for providing me with all these options. This was very helpful!

I ended up flashing the Fedora 31 image and it booted like a charm.

[2019-10-11 20:25] #876 closed

[2019-10-11 21:41] quozl commented on #876
Thanks for testing.

[2019-10-12 01:09] acc3ssd commented on #876
For reference, replacing the initramfs on the Fedora 30 image with the one downloaded from [here](https://fedorapeople.org/~pwhalen/soas/initramfs-5.0.9-301.fc30.armv7hl.img) also worked.

Fedora 31 was completely unstable on my Raspberry Pi 3B. I couldn't work in X Windows for more than five minutes without the whole system freezing. I couldn't find any relevant entries in the logs, so I decided

[2019-10-12 01:20] quozl commented on #876
Thanks for letting us know.  Unfortunate that Fedora 31 was so unstable.  Perhaps tell the Fedora people about it.

[2019-10-12 01:24] acc3ssd commented on #876
That's a good idea, thanks.

[2019-10-12 18:32] ShivanshRakesh commented on #869
Hi @quozl! I would like to work on this issue.

Won't changing value of `_AUTOSEARCH_TIMEOUT` in [journaltoolbox.py](https://github.com/sugarlabs/sugar/blob/master/src/jarabe/journal/journaltoolbox.py) from 1000 to something around 5000 fix this? Since, it looks like 1 sec is kind of too less for the same.

[2019-10-13 20:19] quozl commented on #869
Thanks for letting us know.  See [Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#contributing) which says "no need to ask permission to work on an issue."

Increasing `_AUTOSEARCH_TIMEOUT` like that will obviously break the automatic search function, and therefore not acceptable.  The problem would still occur.  However, consider temporarily decreasing it to

[2019-10-15 08:49] ShivanshRakesh commented on #869
Okay. Thanks!

[2019-10-18 15:29] manangoel99 commented on #873
Can I work on this issue?

[2019-10-18 16:17] aperezbios commented on #873
Please don't ask if you can work on it, or anything else related to Sugar; just do the work, and submit a pull request :)

[2019-10-22 13:22] deejoe commented on #874
@worldinmyfist

Are @quozl's suggestions sufficient so that we can close this issue and you can pursue your interest in helping with documentation elsewhere?

[2019-10-22 13:24] worldinmyfist commented on #874
Yes

On Tue, 22 Oct 2019 at 6:52 PM, D. Joe <notifications@github.com> wrote:

[2019-10-22 13:25] deejoe commented on #872
Could this be closed as a duplicate, then?

[2019-10-22 13:26] worldinmyfist commented on #872
Yes

On Tue, 22 Oct 2019 at 6:55 PM, D. Joe <notifications@github.com> wrote:

[2019-10-22 13:29] deejoe opened #877 "Back button in age slider window does not respond"
I noticed this in the recent sugar-live-build images as well as in the recent Fedora 31 SoaS spin.

[2019-10-22 15:56] chimosky commented on #873
I can't find a use of `imp` in any file, but they're uses of `importlib`.

[2019-10-22 20:10] #874 closed

[2019-10-22 20:11] #872 closed

[2019-10-22 21:12] #877 closed

[2019-10-22 21:13] quozl commented on #877
Thanks for testing!

[2019-10-22 21:32] quozl commented on #873
Related to https://github.com/sugarlabs/sugar-datastore/issues/19.

A good example of the warnings is in `sugar-live-build:/usr/src/*.log`, where the context shows;

[code]

`/usr/src/sugar/py-compile` is generated by Autoconf, and contains;

[code]

Cause of the message is within Autoconf, not Sugar.  Closing.

[2019-10-22 21:32] #873 closed

[2019-10-23 06:30] sanjaynumber99 opened #878 "Unable to open download activities"
I'm not able to open a downloaded activity for some reason.I tried referring to this issue-"Web Browser Activity failing to start #768", but no luck. I'd like a pointer on how I can go  about this.

Thanks

[2019-10-23 08:42] quozl commented on #878
Thanks for looking for related issues.

There are three phases; download, install and start.

For download, please try the download with Browse, then stop Browse, start the Log activity, and look at the `org.laptop.WebActivity-*.log` files for interesting messages.  Correlate the messages against when you tried the download.  Show me the messages.

For install, log out and log in again, and look a

[2019-10-25 02:23] cyphysan commented on #878
Hi,

Thanks for the clear instructions. I'm yet to make a good inference from the logs, but I suspect it might by a Python2-Python3 issue. I'm attaching a text file for your reference.

There was a line that said:
_ImportError: Something is wrong with the numpy installation. While importing we detected an older version of numpy in ['/home/cyphysan/.local/lib/python2.7/site-packages/numpy']. One me

[2019-10-25 03:52] quozl commented on #878
Thanks for the logs.

You've probably used Browse, clicked on "activities", and then searched for Speak and downloaded it.  The logs showed the download was successful and the installation did begin.

You tried to run the [Speak activity](http://activities.sugarlabs.org/en-US/sugar/addon/4038), and it failed because you have a local install of Python Numpy in `/home/cyphysan/.local/`.  You can fix

[2019-10-25 13:44] cyphysan commented on #878
Okay, I'll try the solution and revert tomorrow. Would be happy to be of help wrt the volunteer shortage problem. Anyways, should I close this now?

[2019-10-25 21:05] quozl commented on #878
Thanks.  I'm happy to keep this open until you've had time to try Speak again, as it is one of the activities I concentrate on.  I've also got a set of packages that includes latest Speak for Ubuntu 18.04 that you could try instead of using Browse to download the older version.  Let me know.

[2019-10-30 02:06] cyphysan commented on #878
I downloaded Speak from your directory and it worked. But did have to deal with this along the way: "ValueError: Namespace TelepathyGLib not available". Was `gir1.2-telepathyglib-0.12` supposed to be installed separately (as opposed to being installed by default with sugar)?

The other fix (delete local Numpy installation for Python 2) did not work. Deviating, but do you think I should stick to ac

[2019-10-30 03:31] quozl commented on #878
Thanks for testing.  Sugar 0.112 does not depend on TelepathyGLib, so yes it did have to be installed just this once.  Sugar 0.115 added the dependency.  Sugar 0.116 is the latest release.

Activities in that directory are an assortment.  Some of them are for Fedora 18 on the OLPC XO, some are for Ubuntu 16.04 on the OLPC NL3, and some are for Ubuntu 18.04 on the OLPC Infinity.  The directory itse

[2019-11-01 14:40] chimosky opened #879 "Journal placed above Home after startup"
Issue still occurs in sugarv0.116 running on Debian 4.9. See closed #769.

[2019-11-01 20:06] quozl commented on #879
Is a problem with Metacity, not Sugar.  The fix is in Metacity.

[2019-11-11 05:37] quozl commented on #868
https://github.com/sugarlabs/sugar/pull/880 is a very large change, so I'm considering if it is the best solution to the problem.

Cause of this issue was upstream change in Python 3.  For interactive programs where _sys.stderr_ is a terminal, _sys.stderr_ is an instance of _file_, and _sys.stderr.line_buffering_ is _True_.  For non-interactive programs where _sys.stderr_ is directed to a file, _s

[2019-11-12 15:25] chimosky commented on #868
I haven't understood why too.

Configuring sugar is a good idea but activities doesn't seem feasible as they're few activities that are interactive except we want to look at their interaction with the datastore.

[2019-11-13 00:46] quozl commented on #868
Could you explain this again please?  I don't think I understand what you mean.

I think we will need to find out why using an instance of _logger_ has restored line buffering, if only so we can stop it happening.

[2019-11-13 12:44] chimosky commented on #868
You said this and I was saying it's a good idea to configure line-buffering for sugar when it's been used by a developer but I don't think doing the same with activities is feasible.

[2019-11-14 01:28] quozl commented on #868
How is it not feasible with activities?  All activities execute _sugar3.logger_ called by _sugar3.activity.activityinstance_ which is called by _sugar-activity3_, so that should be apt for enabling line buffering.

In particular I don't understand;

Because;
* "interactive" in this issue means started from a Terminal, not Sugar, and;
* the change already made to Datastore can be reverted once we f

[2019-11-14 11:33] chimosky commented on #868
I didn't know this before, I do now thanks. I hadn't seen an explicit use of sugar3.logger that's why I was a bit confused.

Yes it does, I'd thought of something else.

Agreed.

[2019-11-14 20:00] quozl commented on #868
Thanks!

[2019-11-16 00:57] rabbitholecomputing opened #881 "Configure check for empy3 with 0.116 fails with Fedora 32"
@quozl , back in August, you committed a fix for configure.ac (d47694d) which now fails under Fedora 32.

When running configure, the empy test fails, even when the python3-empy package is installed.

You can successfully complete a build by simply commenting out the offending AC_PATH_PROGS([EMPY], [empy empy3]) test condition, or, by using the following hack:

AC_PATH_PROGS([EMPY], [empy empy3],

[2019-11-16 02:18] aperezbios opened #882 "Configure check for empy3 with 0.116 fails with Fedora 32"
@quozl , back in August, you committed a fix for configure.ac (d47694d) which now fails under Fedora 32.

When running configure, the empy test fails, even when the python3-empy package is installed.

You can successfully complete a build by simply commenting out the offending AC_PATH_PROGS([EMPY], [empy empy3]) test condition, or, by using the following hack:

AC_PATH_PROGS([EMPY], [empy empy3],

[2019-11-16 02:19] #881 closed

[2019-11-18 02:43] quozl commented on #882
Thanks for reporting this.  I wouldn't have noticed.

* my earlier fix to this in August requires `EMPY=%{python3_sitelib}/em.py` on the configure command line, which is what @nullr0ute had used in the opening comment of the [issue](https://github.com/sugarlabs/sugar-artwork/issues/111),

[code]

* on Debian, Ubuntu, and other distributions, installing the _empy_ packages do provide a `/usr/bin/em

[2019-12-03 13:24] srevinsaju opened #884 "Add a list of dependencies"
[code]

An error encountered while making sugar DE. Please add information to `README` on what `intltoolize` is.

w.r.t Google Code-In

[2019-12-03 13:27] srevinsaju opened #885 "[ERROR] Exception on launching ./sugar-launch"
[code]
An Unhandled Exception raised on trying to launch  from `bin`,  `sugar-launch`
w.r.t Google Code In

[2019-12-03 13:36] srevinsaju commented on #885
#887

[2019-12-03 14:04] srevinsaju opened #889 "[QUESTION] How to install sugar3 python package?"

[2019-12-03 14:06] srevinsaju opened #890 "[Q] Suspected missing character"
[code]

In the last line, is it supposed to be
[code]
Or is it a perceived mistake? I am not into Regex

~ GCI

[2019-12-03 14:22] srevinsaju opened #891 "[E] Stuck at ./autogen.sh"
I am stuck at
[code]
I don't know how to proceed after this. Any helps?

[2019-12-03 16:36] aperezbios commented on #891
The error is staring you in the face :) "AM_GLIB_GNU_GETTEXT not found in library" means you probably need to install gettext. Next time, try a quick search/Google for an error string you think might lead you in the right direction. I found the answer in about 15 seconds, this way.

[2019-12-03 18:06] Aniket21mathur commented on #891
Have you build the dependencies before?
If not please do it by using `sudo apt build-dep sugar`

[2019-12-03 18:43] srevinsaju commented on #891
@aperezbios @Aniket21mathur I am trying to figure out the correct documentation on installing the sugar as part of Google Code In. I read most of the markdown files. Because the README.md file located at the root of the directory makes the installation of sugar seem easy as pie. A however, 'never look before you leap' person like me just tried doing that code, but however didn't work. I tried inst

[2019-12-03 18:53] srevinsaju commented on #891
@Aniket21mathur , i might have ignored this error:
[code]
This is because I didn't add to sources.list

[2019-12-03 18:54] srevinsaju commented on #891
@Aniket21mathur will adding deb-src download all sources for other packages too?

[2019-12-03 20:02] srevinsaju commented on #891
@aperezbios gettext is already installed, it rasises the same error. I have already install sucrose, so it was its dependency too

[2019-12-03 20:52] aperezbios commented on #891
You're probably missing the equivalent/complimentaery gettext-dev/devel package. The sucrose package wouldn't install this, since the -devel packages are not dependencies of sucrose, to the best of my knowledge.

[2019-12-03 22:22] quozl commented on #884
Thanks for the feedback.

The _intltoolize_ command is used by `autogen.sh` and provided by the _inttool_ package.  The need for _intltool_ package is satisfied by `apt build-dep sugar` on Ubuntu 19.10, and this is mentioned by our [Setup a development environment - Native Sugar](https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md), which relies on the Debian developers'

[2019-12-03 22:27] quozl commented on #885
Thanks.  https://github.com/sugarlabs/sugar/pull/887 seems unrelated.  The error shows that the _sugar-toolkit-gtk3_ module has not been installed.

[2019-12-03 22:27] #885 closed

[2019-12-03 22:32] quozl commented on #889
Thanks for asking.

* [README.md](https://github.com/sugarlabs/sugar-toolkit-gtk3/blob/master/README.md) particularly the "configure, make, make install",
* [Setup a Development Environment - Native Sugar](https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md#native-sugar) particularly the sections that refer to _sugar-toolkit-gtk3_.

[2019-12-03 22:32] #889 closed

[2019-12-03 22:38] quozl commented on #890
Thanks for asking.  The package names on Ubuntu for Six are _python-six_ and _python3-six_, because they follow the Debian convention or standard for package names.  It is not a regexp, but an expansion.  The documentation for **bash(1)** has a section "Brace Expansion" which shows how this is used.  You can test brace expansion using the shell like this;

[code]

[2019-12-03 22:38] #890 closed

[2019-12-03 22:43] quozl commented on #891
Yes, still missing some dependencies.  You should not hope to satisfy dependencies in this iterative fashion without deep knowledge or some standard list of dependencies to compare against.   An `apt build-dep` can give you a probably good enough standard list to begin with, but it is Ubuntu or Debian specific.

See also https://github.com/sugarlabs/sugar/issues/884.

Adding `deb-src` to your sour

[2019-12-04 06:02] srevinsaju commented on #891
@quozl thanks for the info on `deb-src` . that's the only step I didn't execute.

[2019-12-04 06:03] srevinsaju commented on #891
@aperezbios ohk, I am getting into groove with sucrose. thanks for the help (•‿•)

_Sent from my Galaxy Note2 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-12-04 06:07] srevinsaju commented on #884
@quozl , thanks. I am new to build-dep, but the first README. md makes building from SOURCE simple. I suggest you to add, this line :
"Refer Setup a development environment" thing.
because at first I didn't want to develop, but only run it somehow. I will check the build-dep method

[2019-12-04 06:23] srevinsaju commented on #891
@quozl @aperezbios the code with `deb-src` is installing a lot of dependencies now. A Suggestion, can we package another deb which installs the dependencies automatically, so only building is left for the power user?

[2019-12-04 06:35] quozl commented on #884
@srevinsaju, there's already a line that does that.  If you only want to run Sugar, then installing Sugar is more easily done using `apt install sucrose` than building from source.

[2019-12-04 06:35] quozl commented on #891
@srevinsaju, that's not in our scope; we don't mind what Debian developers do with respect to packaging, but they seem happy with "apt build-dep", and it doesn't seem unreasonable for someone to use it on Debian or the Ubuntu derivative of Debian.  If you would like Debian to further simplify installing build dependencies, contact them? :grin:

[2019-12-04 07:35] srevinsaju commented on #891
@quozl I can't run sucrose. I tried `sudo apt install sucrose` but it is not starting on my system. what is the next step?

[2019-12-04 07:36] srevinsaju commented on #884
@quozl it is not working on Ubuntu 19.10 . what is a presumed solution?

_Sent from my Galaxy Note2 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-12-04 07:52] Aniket21mathur commented on #891
@srevinsaju where are you stuck? what is the exact error you are getting? Please specify.

Whenever you ask a doubt please also include the related error/exception :grin:

[2019-12-04 09:04] quozl commented on #891
@srevinsaju, if the `apt` command is not starting, then best ask the Ubuntu or Debian projects about why; it's not something we're going to be experts at, but if you want to try, let us know what is shown when you type the `apt` command.

On the other hand, if you don't know what to do *after* the `apt` command has finished; log out and then log in with the Sugar desktop selected.  See https://git

[2019-12-04 09:05] quozl commented on #884
Please don't post the same problem into multiple threads.

[2019-12-04 13:05] srevinsaju commented on #891
@Aniket21mathur @quozl  I installed sucrose sucessfully. After doing the apt install command. I tried logging out ad changing the Desktop Environment. On selecting sugar, entering password and logging in, sugar de does not start. It is stuck at the lockscreen, mouse allowed to move, lock screen is dim, can switch ttys, but to go back to my default DE, i have to restart.

Any method to solve this.

[2019-12-04 13:06] srevinsaju commented on #891
@quozl @Aniket21mathur is it a wayland error? It is similar to the error due to graphics cards on Ubuntu GNOME Wayland

[2019-12-04 23:46] Bottersnike commented on #882
This appears to be a shortcoming of something within the sugar build system. The build system is looking for a binary named `empy`, however this is not part of empy. Comparison of the `setup.py` files for flake8 and empy shows flake8 explicitly telling python to install a binary named `flake8` which runs `flake8.main.cli.main()` (https://gitlab.com/pycqa/flake8/blob/master/setup.cfg#L61), however

[2019-12-05 00:23] quozl commented on #882
Excellent, thanks.  That makes two distributions that don't provide a binary, and one that does.  Does the change in my earlier comment work?
[code]

[2019-12-05 00:37] quozl commented on #891
Sugar writes errors to `~/.sugar/default/logs/shell.log`, so you should look there.

I've reproduced on an Ubuntu 19.10 VM.  Here's the important part of what `shell.log` says;

[code]

Please check and confirm you have the same ImportError.

The cause is mixing Sugar and Sugar Toolkit versions;

[code]

Fix is to either downgrade _python-sugar3_ to 0.112, or upgrade _python-jarabe_ to 0.116.

Sug

[2019-12-06 02:31] quozl opened #892 "Explain log in with the Sugar desktop selected"
"log in with the Sugar desktop selected" is not easy to decode for people who don't know how to use the features of the greeter program, and the desktop selection list.  This is made harder because gdm3 does not clearly explain the feature on screen, instead showing a gear logo.

* [x] refer to gdm3 documentation,
* [ ] add script-annotated screenshots of gdm3,
* [ ] maintain for each release of F

[2019-12-07 21:11] srevinsaju commented on #891
@quozl exactly, this is the error I am having!! thanks a million, at last sugar on Ubuntu 19.10.
should I make a PR on the sugar native build environment thingy, because the doc was unclear, and that caused all the issue, we could included the issue number in the Docs. thanks anyway

[2019-12-08 20:46] quozl commented on #891
I like documentation that is succinct, accurate, and non-repetitive, so that maintenance is minimised.  The documentation seems clear at the moment; please review it and get back to me here if you think it needs fixing;

* [Setup a development environment - Packaged Sugar](https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md#packaged-sugar) has a link to Using Sugar on Ub

[2019-12-11 19:55] quozl opened #893 "Sugar would not start when a file new.py was present"
When a user had a file new.py in home directory containing an import that could not be satisfied, Sugar would not start.  This was because Xapian was imported by Sugar, and Xapian had a "from new import something".

* [ ] check the Python module search path for Sugar; should it really search the home directory for modules?

[2019-12-15 18:45] garvitgupta08 opened #894 "Error while building sugar in make install command"
This is the error

$ make install
Making install in bin
make[1]: Entering directory '/home/ggupta08/sugar/bin'
make[2]: Entering directory '/home/ggupta08/sugar/bin'
 /bin/mkdir -p '/usr/local/bin'
 /usr/bin/install -c sugar sugar-serial-number-helper sugar-backlight-helper sugar-backlight-setup sugar-control-panel sugar-install-bundle sugar-erase-bundle sugar-launch '/usr/local/bin'
/usr/bin/inst

[2019-12-15 18:50] garvitgupta08 commented on #894
sudo make install worked.

[2019-12-15 18:50] #894 closed

[2019-12-16 03:23] quozl commented on #894
Good, `sudo make insatll` is in our documentation;
https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md

[2019-12-26 23:21] srevinsaju commented on #882
On arch, it provides python-empy which does not create a executable binary. For me adding this in the configure will make it good

[code]

[2019-12-27 07:11] RishiR21 opened #895 "Sugar Not Available For ChromeOS."
Hello there, I am Rishi R from Google Code-in. An issue I found with Sugar is that ChromeOS users don't access to Sugar on a Stick while using the ChromeOS. This looks to be a problem considering the fact that a majority of the students using the Sugar on a Stick Platform are students who could be using Chromebooks.

[2019-12-27 07:13] #895 closed

[2019-12-27 07:17] quozl commented on #895
Thanks.  ChromeOS users can install Sugarizer.

[2019-12-27 14:30] Kiy4h commented on #814
I'm experiencing this, on Debian 10.2 Sugar Live Build.

[2019-12-28 00:34] quozl commented on #814
Might you be seeing https://github.com/sugarlabs/sugar/issues/840 instead?

[2019-12-28 00:47] Kiy4h commented on #814
Oh, yes. My bad.

[2019-12-28 00:47] Kiy4h commented on #814
Oh, yes. My bad.

[2019-12-28 00:47] Kiy4h commented on #814
Oh, yes. My bad.

[2019-12-31 11:10] kushagra414 opened #896 "configure: error: empy not detected despite being installed"
# empy is required
Although I have installed empy `pip install empy` and `pip3 install empy`.
When I tried running `autogen.sh`, empy is required error keeps on showing.
[code]

[2019-12-31 17:13] aperezbios commented on #896
The empy check is deficient, this is a known problem, as there is an incorrect assumption that a empy binary exists, in the existing check, which is distribution-centric. YOu don't specifiy whether you're compiling from HEAD or a released version of Sugar. Do you know which version you're trying to compile?

[2019-12-31 17:22] aperezbios commented on #896
Try this patch/diff https://pastebin.com/raw/9JEa6tic

[2019-12-31 20:07] quozl commented on #896
Duplicate of https://github.com/sugarlabs/sugar/issues/882.

I've asked for testing on that issue, and I'm waiting for a response.  Please get involved.

[2019-12-31 20:09] aperezbios commented on #896
The response you asked for is right under your nose.

[2019-12-31 20:10] aperezbios commented on #882
Here's a workaround patch https://pastebin.com/raw/9JEa6tic

[2019-12-31 20:12] aperezbios commented on #882
@quozl, can you please clarify what the command you've pasted in your previous comment is supposed to accomplish? It does not execute at a CLI. Is it expected to?

[2019-12-31 20:59] quozl commented on #882
Thanks for testing.  This use of _empy_ can be found in the first ten lines of _Makefile.am_ in the _data_ directory., and in several other makefiles in _sugar-artwork_, see https://github.com/sugarlabs/sugar-artwork/issues/111#issuecomment-527255737 for a diff.   The command is a replacement for what is there.  The command runs empy during build.

[2019-12-31 21:42] srevinsaju commented on #882
On arch, it provides python-empy which does not create a executable,
binary. For me adding this in the configure will make it good.
[code]

[2019-12-31 21:52] quozl commented on #882
Thanks @srevinsaju.  I'm just curious; on Arch Linux, does the em.py file have execute bits set?  I ask because the empy README gives two examples of use that would require execute bits.

[2020-01-01 06:49] kushagra414 commented on #896
The Path was bit different, However, it worked. :+1:
Shouldn't this be the default configuration?

[2020-01-01 07:14] quozl commented on #896
That's great, thanks.  Yes, the default will change, but question is what to change.  See discussion in https://github.com/sugarlabs/sugar/issues/882 and contribute if you are able.

[2020-01-01 07:22] kushagra414 commented on #822
@quozl I am still facing this issue.
I am using Ubuntu 19.10

[2020-01-01 08:30] quozl commented on #822
Yes, that is caused by Debian and Ubuntu packaging latency, likely in turn because this bug hasn't been reported to Debian.  https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md#ubuntu-1910-eoan-ermine has the detail.  Fix is to install Sugar 0.116.

[2020-01-02 08:00] kushagra414 commented on #822
@quozl How do I install Sugar-0.116?

[2020-01-06 13:56] sanjaynumber99 commented on #878
"I've also got a set of packages that includes latest Speak for Ubuntu 18.04 that you could try instead of using Browse to download the older version. Let me know."

James, can I please have the link to the set of packages? I just installed a dozen using browse from the Activities Library (http://activities.sugarlabs.org/en-US/sugar/) and *none* of them started for similar reasons.

[2020-01-07 01:57] quozl commented on #878
Yes, sorry about that, they don't work, because activities.sugarlabs.org is now really only for Python 2 activities that continue to work on Fedora 18.  Once an activity like Speak is ported to WebKit2, GStreamer 1.0 or Python 3, the API breakage stops it working on older systems.  We no longer have a collection of current activity bundles at Sugar Labs,.  Best is what is in GitHub.  We've had two

[2020-01-08 05:33] #787 closed

[2020-01-10 09:50] bhulsken opened #899 "unicode error due to python3 port in network.py"
ssid is bytes and not string, giving errors in network.py

[code]

according to the standard the SSID should be a UTF-8 coded sting. So prefixing b to the string literal should work in both python2 and 3, and be according to the standard (see https://en.wikipedia.org/wiki/Service_set_(802.11_network))

same problem in adhoc.py

the below patch fixes the issue for me,

best regards,
Bas Hulsken

[c

[2020-01-10 11:09] #827 closed

[2020-01-10 14:57] pelacables opened #900 ""No module named gst" in Debian 10.2"
Hi all,

According to sugar docs, Sugar 0.112 is availale in Buster release.

So I've installed DebianEdu (10.2) and most of the activities (installed from the browser) fail to start with the error:
[code]

I have python-gst-1.0 installed in my system. From what I read (and understood, I can be totally wrong) gst is the module provided by gstreamer0.10-*. In newer version 1.0 it has to be imported

[2020-01-10 20:20] quozl commented on #900
Thanks for asking.  It depends on each activity.  Please identify them?  Browse has an old link to activities.sugarlabs.org, which is used for activities dependent on Python 2, GStreamer 0.1, WebKit, and either GTK 2 or GTK 3.  Yes, install an older Debian release or GStreamer 0.1 if you want these older activities to work.  Otherwise use a later version of the activities.  It is a disorganised me

[2020-01-10 21:25] quozl commented on #899
Thanks for testing.  I expect to get to this next week or the week after.

It looks like this was a Port to Python 3 regression as our porters did not test on actual hardware.  Since their work was merged, I've tested with infrastructure networks, but not yet with IBSS or pluggable ethernet.

Also, feel free to make a pull request in future, as that will save copy and paste errors.

[2020-01-11 06:07] sanjaynumber99 commented on #878
Thanks for explaining. I'm sticking to the activities you've tested with Ubuntu 18.04 for now, that was useful. Most of them work, but Simple English Wikipedia and a few other activities don't.

Speak works fine for me, so I think I'll close this issue?

[2020-01-11 06:07] #878 closed

[2020-01-11 08:42] quozl commented on #878
Yes, Simple English Wikipedia is a special case because it directly imports the Browse source code; so both activities must run the same version of Python.  We have someone [working on the Wikipedia activity](https://github.com/godiard/wikipedia-activity/pull/1) in past few days.

[2020-01-11 19:20] Devil-Echo commented on #823
I am trying to make changes in the live build - /usr/src/sugar-activities/.. / journalactivity.py file but the changes could not be saved to the disk, giving permission error.
Plz help

[2020-01-12 10:04] Devil-Echo commented on #849
Can you help me with the location of the relevant file to work on this issue?
I have installed a live build .

[2020-01-16 14:21] namannimmo10 commented on #899
Hey @quozl, can I work on this issue?

[2020-01-17 15:15] pelacables commented on #900
Hi, sorry for the late answer.

Thanks a lot, I'll look for the activities I want for the newer Debian version and, if I don't find them, I'll install and older Debian release.

Thanks a lot for your answer. I  close thi ticket.

[2020-01-17 15:15] #900 closed

[2020-01-18 09:26] bhulsken commented on #899
Sure, just created a pull request for this one as well: #901

[2020-01-18 09:40] namannimmo10 commented on #899
@bhulsken You can just write "Fixes #899", and it will automatically link to this issue.

[2020-01-22 21:50] quozl commented on #899
https://github.com/sugarlabs/sugar/commit/e9b033eae09adbca5ef3b159dbe6249f68fcfcd5

[2020-01-22 21:50] #899 closed

[2020-01-22 21:52] quozl commented on #899
@namannimmo10, thanks for asking.  You could have tested the change if you had a computer you could run Sugar on.  But if you've never contributed before, you would have found it difficult.

[2020-01-23 03:02] namannimmo10 commented on #899
I have sugar installed on my computer. I have contributed to open source projects before so It wouldn't have been that much difficult. @quozl Is there any other task I could help you with? Apart from porting code to python 3 or gtk+3. Because it seems like almost everyone is working on those tasks.

[2020-01-23 08:28] quozl commented on #899
Many of them have just stopped working on them in the past day, because Google Code-in has finished.  I've no specific task in mind for you.  http://lists.sugarlabs.org/archive/sugar-devel/2020-January/057643.html near the end of the message is my general recommendation for choosing what to work on.

[2020-01-23 09:57] namannimmo10 commented on #899
Thank you, I will look into it.

[2020-01-23 13:20] srevinsaju opened #903 "User data not saved on forced shutdown"
User data of a new user is not saved by sugar on a forced shutdown (possibly, power button) and it can have potential data loss in other components too

STEPS TO REPRODUCE:
* Start a sugar debian Live Build 0.116
* Install it to HDD
* Restart and enter login information
* Enter user data
* Force close VM without ACPI shutdown
* Restart VM, login with same user information

You will notice sugar as

[2020-01-24 05:59] quozl commented on #903
Yes, and this is unavoidable without slowing down Sugar by adding a wait for data to be written to media.  On OLPC OS on the XO laptop, the jffs2 filesystem and powerd daemon took care of this for us; touching the power button caused a filesystem synchronisation before power was lost.  On conventional operating systems such as Debian, data loss will _always_ occur if the virtual machine is termina

[2020-01-24 17:11] rabbitholecomputing commented on #903
Agreed, this is definitively _not_ a Sugar-specific problem. The same thing can and does happen under Windows, and MacOS.

[2020-01-25 09:36] adarsh-qclw commented on #822
How do I install Sugar 0.116? I don't find it anywhere around.

[2020-01-25 09:57] quozl commented on #822
Please use the sugar-devel@ mailing list for general questions.

https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md explains how to set up a development environment, and includes some developer-centric explanation for building and installing Sugar from source.  It is linked from this repository's README.md.  Or wait for your Linux distribution to package Sugar 0.116; wh

[2020-01-30 14:58] nullr0ute opened #904 "issue with acme_volume_alsa_new on 0.116"
Seeing the following crash, with python3 but not sure if that's related, in Fedora 32.

<pre>
** (main.py:1538): WARNING **: 14:32:06.718: Failed to load shared library 'libsugarext.so.0' referenced by the typelib: /lib64/libsugarext.so.0: undefined symbol: sugar_event_controller_get_state
Traceback (most recent call last):
  File "/usr/lib64/python3.8/runpy.py", line 193, in _run_module_as_main

[2020-01-30 16:25] rabbitholecomputing commented on #904
@quozl , any thoughts on this?

[2020-01-30 16:25] aperezbios commented on #904
@quozl, any feedback/ideas here?

[2020-01-30 21:16] ritjoe commented on #904
very reminiscent of https://bugzilla.redhat.com/show_bug.cgi?id=1240147

[2020-01-30 22:47] quozl commented on #904
Why isn't `libsugarext.so.0` installed?  That's the cause of the whole message.

[2020-01-31 07:54] nullr0ute commented on #904
It's there:
rpm -ql sugar-toolkit-gtk3| grep libsugarext
/usr/lib64/libsugarext.so.0
/usr/lib64/libsugarext.so.0.0.0

[2020-01-31 19:59] ritjoe commented on #904
On Thu, Jan 30, 2020 at 11:54:57PM -0800, Peter Robinson wrote:

But the error, as is the case in the bug to which I posted the link earlier, has to do with expecting but not finding it in /lib rather than at /usr/lib

[code]

Which way round do the symlinks go these days in Fedora? I've got a Fedora-SoaS-Live-x86_64-27-1.6.iso I just booted up here to check what was happening then, and see /lib -

[2020-01-31 20:06] quozl commented on #904
Thanks.  Is `/lib64` a symbolic link to `/usr/lib64` or vice-versa?  I ask because the error mentions `/lib64` only.

Next, are the symbols in the file rational?

[code]

In particular, is sugar_event_controller_get_state present?  If so, it should be undefined.  A reference only.  Then in another file should be the definition;

[code]

Paths used by Python can be verified using _strace(1)_.

[2020-01-31 20:15] ritjoe commented on #904
On Fri, Jan 31, 2020 at 12:06:10PM -0800, James Cameron wrote:

My mistake, but yes at least on this old SoaS I'm looking at, there is also the lib64 symlink: /lib64 -> usr/lib64

I agree that strace could be useful here, but, as for that and the rest, I'll have to leave that to those who have current Fedora builds at hand.

I'm still trying to sort out what hardening was done that broke the build

[2020-01-31 20:35] quozl commented on #904
Peter, is acme_volume_alsa_new defined in libsugarext.so.0?

Thing is, the last error you showed suggests GObject Introspection is looking in the event controller shared object instead of the Sugarext shared object;

For me, this symbol is in libsugarext.so.0, and can be tested interactively in python3;

[code]

An _strace(1)_ of this test shows both libsugarext.so.0 and libsugar-eventcontroller.s

[2020-02-01 08:31] nullr0ute commented on #904
With the usr move that happened in Fedora (around F-17 from memory) its lib64 -> usr/lib64

[2020-02-01 08:47] nullr0ute commented on #904
Good hint, in the process of moving to python3 I did a bunch of cleanups and dropped the hardened flag removal. Putting that back gets us further (I'll file that issue as a separate bug).

For reference the hardened flags option adds the following for compiling and linking. I'm guessing something is getting optimised out possibly at linking time.

compile:
<pre>
*cc1_options:
+ %{!r:%{!fpie:%{!fPI

[2020-02-01 08:50] nullr0ute opened #905 "crash in 0.116 on py3 with g_signal_newv: assertion 'is_valid_signal_name (signal_name)'"
Seeing the following crash on F-32 with 0.116 using python3

<pre>
/usr/lib64/python3.8/site-packages/gi/types.py:220: Warning: g_signal_newv: assertion 'is_valid_signal_name (signal_name)' failed
  _gi.type_register(cls, namespace.get('__gtype_name__'))
Traceback (most recent call last):
  File "/usr/lib64/python3.8/runpy.py", line 193, in _run_module_as_main
    return _run_code(code, main_globa

[2020-02-01 08:52] nullr0ute commented on #904
Opened #905 for the other issue

[2020-02-03 05:53] quozl commented on #904
Sorry, those flags don't make any sense to me.  What do they evaluate to for cc and ld?  Can you identify which ones are responsible for the issue?

[2020-02-03 05:55] quozl commented on #905
Is already fixed by https://github.com/sugarlabs/sugar-toolkit-gtk3/commit/88adb38a4241aa5423a9cefae9b4b11305bb61c5 and will be in next release.

[2020-02-03 08:15] nullr0ute commented on #905
That works in a test build \o/ but seems to fail for i686 (OK for x86/arm) when pushed to the build system. Aren't sure why, might be a timing/linking/introspection issue.
https://koji.fedoraproject.org/koji/taskinfo?taskID=41336358

[2020-02-03 08:31] nullr0ute commented on #905
With a couple of attempts I got a build. BTW what's the schedule for the next release?

[2020-02-03 08:31] #905 closed

[2020-02-04 03:18] quozl commented on #905
Good, thanks.

No schedule, sorry.  I'm holding off.  I regularly test _master_ branches on Debian and Ubuntu.  We seem to have lost anybody willing to test _master_ branches on Fedora Rawhide, hence all these bugs in 0.116, which means releasing early would likely make things worse; and so I'm not willing to release until we have a volunteer to focus on Fedora.

https://github.com/sugarlabs/GSoC/

[2020-02-04 08:34] nullr0ute commented on #905
I feel it's unfair to state there is an unwilling to test master branches on Fedora. There's a complete lack of time, which is not the same as unwillingness, but Fedora has consistently gone above and beyond to ensure there's regular releases of sugar over a LONG time. Where's the help from the Ubuntu community? There's one person (Chihurumnaya) now actively contributing and another (Alex) who say

[2020-02-04 18:57] aperezbios commented on #905
I also agree it's unfair. The will exists, it's moreso a matter of time. For instance, I just attended FOSDEM to represent Sugar Labs, a committment of time that involved 96+ hours, which is time I can't spend working for my employer. As an update, Ibiam (Chihurumnaya) has a stock install of F32 installed as of last night. I spoke with him as I was flying back from Brussels, yesterday afternoon.

[2020-02-04 21:15] quozl commented on #905
Thanks.

Sorry, the word _willing_ was my discernment based on the near zero evidence of testing, and reading about regressions months after release.  A better word would be _effective_ testing.

I don't work in the Debian and Ubuntu packaging communities.  I know there's _effective_ testing for Debian and Ubuntu for Sugar, because I end up having to do it myself; during pull request review, for m

[2020-02-04 21:44] aperezbios commented on #905
Personally, I am strongly in favor of releasing far more often than we do. The 0.116 release was now four months ago, and incorporates a number of fixes for known bugs against 0.116. I do not understand the rationale for not releasing often. There are going to be bugs either way, but the fewer patches need to be managed against mainline/release in any given package is a win for the packager, in my

[2020-02-04 23:18] chimosky commented on #905
Yes I plan to test the master branches of Sugar components and create issues upstream where necessary also I'll update the community - _via the mailing list_ - on new releases.

[2020-02-05 04:57] quozl commented on #905
Thanks.  But only on new releases?  Oh, that's unfortunate.  That's not what I'm looking for.  I'm looking for testing of the Sugar components before new releases, in order to better support a [release process](https://wiki.sugarlabs.org/go/Development_Team/Release#Module_release) and ensure the release works without problems on Fedora Rawhide at the time.

[2020-02-05 12:37] chimosky commented on #905
I'll be doing that.

[2020-02-05 17:39] srevinsaju commented on #904
I ran into the same error recently :(

[2020-02-06 00:03] quozl commented on #905
Good, thanks.  Please report testing, even if no issues occur.

[2020-02-06 01:26] quozl commented on #904
That's interesting.  Was it on Arch?  Did it used to work before an upgrade of some package?

[2020-02-07 20:08] srevinsaju commented on #904
@quozl, it didn't exist previously when built last time.
I fixed the error by one of the following changes
* The previous build depended on `https://github.com/sugarlabs/sugar-toolkit-gtk3/archive/v0.116.tar.gz`
But, after I lost some of files, I used Ballo Gyorgy's configuration of using
`https://download.sugarlabs.org/sources/sucrose/glucose/sugar/sugar-0.116.tar.xz)`
This might be a possible ca

[2020-02-07 21:20] quozl commented on #904
Thanks.  https://github.com/sugarlabs/sugar-toolkit-gtk3/archive/v0.116.tar.gz is the unprepared source from the repository.  https://download.sugarlabs.org/sources/sucrose/glucose/sugar/sugar-0.116.tar.xz is the prepared source made by `make dist`.  You should use the prepared source unless you add a call to `autogen.sh` and `make dist`.  You should not use `autogen.sh` with the prepared source,

[2020-02-07 21:24] srevinsaju commented on #904
I will test it again on the download.sugarlabs.org prepared version on Ubuntu 20.04 again, just to confirm, I wouldn't want to break the current working packages. Thanks, maybe that might bean issue to @nullr0ute too?

[2020-02-07 21:33] quozl commented on #904
@srevinsaju, if `autoreconf` is doing something strange, we might have to change our use of it, or push that problem upstream to the maintainers of `autoreconf`.

[2020-02-07 21:37] srevinsaju commented on #904
I remember on Fedora, when I installed the rpm, it didn't work at first due to some reason which I don't remember, possibly, I assumed its my mistake and proceeded to the native build method.

[2020-02-08 05:37] sanjay237 commented on #863
@quozl Ran into this today, I'm running Sugar 0.116 (w/ Debian Buster) on a VM.

[code]

[2020-02-08 16:53] srevinsaju commented on #893
Tested, I couldn't reproduce the error. The paths did not include the home directory, maybe, the Xapian package got updated to fix the error.

[2020-02-09 15:56] srevinsaju commented on #882
The empy on Arch Linux is not executable. None of the python modules are executable.
Where should I add this `python3 -m em - -p $$ -D scaling=100 < gtkrc.em > sugar-100.gtkrc` to test it?

[2020-02-09 23:49] quozl commented on #863
Thanks, but very different in that it is a ValueError instead of a TypeError.  It does look like what was reported in http://lists.sugarlabs.org/archive/soas/2020-February/003035.html

It looks likely to be an activity problem; in a journal object the metadata for filesize, creation_time, or timestamp contains invalid data.  I suggest inspecting the datastore metadata on disk.   I suggest trying t

[2020-02-10 00:14] quozl commented on #893
I was able to reproduce.  The Python path included the current working directory, which when Sugar starts is the home directory.  If you think Xapian was changed, please find the change in Xapian.

[2020-02-10 00:55] quozl commented on #882
This goes against the Empy documentation, which gives a clear expectation that Empy is executable.  Please report this bug against Arch Linux or Empy?

This is very frustrating.  I gave a complete reply to this in the thread [Initial Release: Sugar packages 0.116 for Arch Linux](http://lists.sugarlabs.org/archive/sugar-devel/2020-February/057738.html).  Did you miss it?

[2020-02-10 11:55] srevinsaju opened #907 "Add Continuous Integration, Build Tests"
As `sugar`, `sugar-toolkit-gtk3`, `sugar-artwork` and `sugar-datastore` are quite important repositories, It would be necessary to test new PRs, and other commits, for example to see if it fits the flake8 formatting guidelines, an untested SyntaxErrors. This might automate the workload of the reviewer

[2020-02-10 21:08] quozl commented on #907
We do test new pull requests and other commits.  See [Guide for Reviewers](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#guide-for-reviewers).  If you think this is too hard, then you can leave it for me.

I've assessed continuous integration possibilities often.  We have no test suite.  We have no test infrastructure.  Fixing those two would cost more effort than any of

[2020-02-25 04:32] quozl opened #908 "Write a Mnemosyne front-end activity for Sugar"
Mnemosyne is a program for memorising things using a spaced-repetition technique with self-assessment.

Wrap Mnemosyne in a Sugar activity, using the toolbar for Mnemosyne's menu options, and the activity canvas for all the windows that Mnemosyne shows.

Include a set of premade cards relevant to an elementary school child, and provide a way to select the set for memorisation. Keep memorisation hi

[2020-02-25 04:33] quozl commented on #840
Summary: Debug a Telepathy crash

Sugar uses the Telepathy API for collaboration. Every time a collaboration stops, one of the Telepathy programs crashes with a core dump. It has been happening for a few years.

See if you can use gdb and the Telepathy source code to find out what the problem is! A task for experts. You may have to reach out to the Telepathy project as well.

[2020-02-25 06:04] sanjay237 commented on #908
I'd also suggest weighing [Anki](https://ankiweb.net/) and Mnemosyne against each other. I've personally stuck to Anki (though I did fall off the SRS wagon) and come to admire it's community.

My $0.2 on why Anki is a great option:
- Excellent community, their [subreddit](https://www.reddit.com/r/Anki/) is pretty active.
- Lots of plugins contributed by devs. For example, there was this one plugin

[2020-03-04 00:47] #882 closed

[2020-03-04 00:47] #896 closed

[2020-03-06 20:09] quozl opened #909 "Port to Python 3 - apisocket.py"
* [ ] complete the Port to Python 3 for apisocket.py and related files.

apisocket.py implements a communication channel between a Sugar Web activity and the Sugar shell and Journal.  It is an important part of Sugar.

apisocket.py was automatically ported to Python 3 using `2to3`.  Testing revealed regressions.  The regressions revealed the porting was not done by a human.  Rather than fix each r

[2020-03-10 00:25] quozl opened #910 "Change to an activity icon is not presented until restart"
Reproducer: Sugar in Home View with Pippy-74 installed, then install Pippy-75.  (Pippy-75 has a new activity icon).

Expected result: the Pippy icon in the Home View should change.

Observed result: the Pippy icon in the Home View did not change.

Workaround: restart Sugar.

Changes to activity icons are very rare.  This is a corner case.

[2020-03-12 07:51] JuiP commented on #819
Just an observation- The battery icon doesnot seem to vanish. However, other status icons vanish, even on repeated uses. Is there some patch of the code that is different for Battery which is making it behave the way it is supposed to?

I'm not quite sure if I will be able to fix this but I want to work on this issue, what do you think is the best way to proceed?

[2020-03-12 08:03] quozl commented on #819
Thanks.  You are correct it may relate to the specific code for each icon.  Or it could relate to the relative position of the icons; for example there is no icon to the right of the battery icon, so there's no way to force a redraw for the area immediately adjacent to the battery icon.  This could be proven or disproven by changing the display order of the icons temporarily.

Sorry, I don't know

[2020-03-14 06:04] shaansubbaiah commented on #909
I'm trying to work on this issue, trying to replace `stream_id = ord(message.data[0])` with `stream_id = message.data[0]`; I'm not sure how to update gwebsockets 0.6 in the SugarLiveBuild to 0.7 .

I have tried:
1. Cloning the gwebsockets repo to /usr/src and running autogen, make, make install from the toolkit directory
2. Copying the newer files directly to /usr/lib/python3.7/dist-packages/gwebs

[2020-03-14 09:03] quozl commented on #909
Update gwebsockets in Sugar Live Build by following the same method already used, see https://github.com/sugarlabs/sugar-live-build/blob/master/src/config/hooks/normal/0900-sugar.hook.chroot#L46

I've Ubuntu 20.04 packages of gwebsockets latest in my package archive, if you'd like to use that instead.  It is more recent than Sugar Live Build.

No, using the Browse activity has nothing to do with t

[2020-03-14 16:20] shaansubbaiah commented on #909
Thanks, I  believe I've managed to fix the type issue after testing it on the gears activity #911

[2020-03-16 14:07] shaansubbaiah commented on #892
Has this been solved? If not, shall I create a tutorial with images in markdown for the same?

[2020-03-16 19:20] sanjay237 commented on #892
Yes, please! I so wished for an illustrated guide a few months back. I suggest [instructive GIFs](https://gifs-as-documentation.readthedocs.io/en/latest/), though you might have have to check with the others.

This is an open issue, so unless otherwise mentioned, you may propose a solution right away😀

[2020-03-16 21:57] quozl commented on #892
Also, _gdm3_ is not the only greeter program.  _lightdm_ and _kdm_ are also encountered.  The most time consuming part of this issue is the ongoing maintenance, because the screenshots can change with each release of a Linux distribution.  It is why I have not done it myself.

Not planning for ongoing maintenance means we'll just delete what you contribute as soon as it is out of date.

[2020-03-17 14:28] shaansubbaiah commented on #892
@quozl I have come up with something here https://github.com/shaansubbaiah/tutorial-sugar-log-in

[2020-03-18 04:24] quozl commented on #892
Great start, thanks.

It looks like you've referred to the Debian Wiki for documentation.  I suggest referring to display manager documentation from the upstream projects.  The Arch Wiki is also another good source.

It looks like you've used a record-my-desktop or a screen-casting application and converted to animated gif.  There's visual noise.  I suggest writing a script to capture the screensh

[2020-03-18 05:16] shaansubbaiah commented on #892
Thanks, I'll make the necessary changes.

Right, I have mixed up the words  display manager and desktop environment in my head :P

I have used Peek to record it as gifs directly. It generally does a good job but causes artifacts when recording a VM.

ImageMagick supports creation of gifs from screenshots, do I use that or just post 2-3 images for each example?

[2020-03-18 05:32] quozl commented on #892
Yes, I figured the artefacts were because of the VM rendering; I've seen something like that before.  Could be the type of VM and outer operating system you're using.  Some virtualisation software has remote control capability, so you can script something that will pause a VM, take a screenshot, and then resume.

ImageMagick can pretty much do anything with images.  Limited to which parts of it yo

[2020-03-18 08:29] shaansubbaiah commented on #892
I have found a solution to the artifacting, it was caused by the display driver, turning off 'Allow Flipping' under OpenGL settings fixes it on systems with NVIDIA GPUs. I don't think its an issue on AMD/ integrated GPU systems.

I find that recording it as a gif is much faster, takes only a few seconds for the whole process. It'll be much easier to just record a gif for newer releases.

I've also

[2020-03-18 18:22] quozl commented on #892
Thanks.  Where do you think this documentation should be put?  Will you document the steps to update the documentation?  Will you stop mentioning desktop manager?  :grin:

[2020-03-18 18:43] shaansubbaiah commented on #892
Fixed the typo again :P
I will write a few steps on recording those gifs. We can put this in the sugar docs repo or just link the words 'login to sugar' in the documentation/ setting up dev environment files to this readme.

[2020-03-18 21:15] quozl commented on #892
Thanks.  I've also thought of recording asciinema sessions for installing Sugar on an existing Linux system, or a step by step bringup of a VM under VirtualBox.  But we've lacked volunteers to maintain these things.

[2020-03-19 01:57] quozl commented on #892
Merged.  https://github.com/sugarlabs/sugar-docs/blob/master/src/sugar-logging-in.md

[2020-03-19 05:09] quozl commented on #856
Still happens.

[2020-03-19 09:23] shaansubbaiah commented on #892
The asciinema session recording seems like a really good idea. I think there are enough and more tutorials on how to create a VM using VirtualBox / KVM and the Sugar Live Build installs just like any other Linux distro.

[2020-03-19 21:45] quozl commented on #892
I agree, another tutorial on how to create a VM shouldn't be necessary.  Perhaps we just have to link to a good one.

[2020-03-24 03:11] ericspivey opened #912 ""Registration Failed Cannot connect to the server""
Running sugar on Ubuntu 18.04, cannot register, with following failure message:
"Registration Failed Cannot connect to the server" no other instructions

[2020-03-24 03:30] quozl commented on #912
Thanks.  This will work if you have an School Server on your local network, otherwise it won't.  There is no need to register the software, as Sugar is released under the GPLv3 open source license.

[2020-03-24 13:41] ericspivey commented on #912
Ah, sorry, I didn't realize that was only a feature for school servers. As I am only working with one child at home, I think we will just use the sugarize web interface, then.

[2020-03-24 13:41] #912 closed

[2020-03-30 11:58] Saumya-Mishra9129 commented on #910
Also cloning an activity to sugar-desktop (I am using sugar-live build) with terminal activity, will not show activity at home view until we restart Sugar.

[2020-03-30 12:22] chimosky commented on #910
Run `./setup.py dev` to make the activity show in home view after cloning, that sets up the activity for development.

[2020-03-30 21:52] quozl commented on #910
Thanks, but this is unrelated to the issue that an existing activity in home view does not change icon when an update of the activity is installed.  I'll hide the comments as off-topic.

[2020-04-04 02:13] quozl opened #914 "Swift Feet - migrate, maintain, release"
Many activities are hosted on activities.sugarlabs.org, have not been maintained for some time, and have not been migrated to GitHub.

[Swift Feet](http://activities.sugarlabs.org/en-US/sugar/addon/4655) is another one.

[2020-04-06 17:12] shaansubbaiah commented on #914
I had a look at the Swift Feet Activity, 2to3 shows no changes, it has to be migrated to GTK+ 3. One issue I found was with the icon, it resembles the Adidas shoe silhouette too closely, might we change it to something else?
![image](https://user-images.githubusercontent.com/11163839/78585695-ec4a4680-7857-11ea-87ce-885df3b81e3e.png)

[2020-04-06 22:33] chimosky commented on #914
@shaansubbaiah you can transfer ownership to Sugar Labs and development will continue.

[2020-04-07 23:31] quozl commented on #914
README.md says the icon came from Simon Child and is released under Creative Commons.  I see it is still available.  I don't think it resembles anything other than a shoe width side reflectors.  I've seen many such shoes made by many companies.  We aren't selling shoes, so there's no substantial risk of infringement.  The activity has been available for several years, and there have been no compla

[2020-04-08 16:34] shaansubbaiah commented on #914
@quozl  thanks for clearing that up for me :)

@chimosky I'll do that and update here.

[2020-04-08 22:30] chimosky commented on #914
Just forked it.

[2020-04-11 12:08] srevinsaju opened #915 "org.freedesktop.NetworkManager.Settings.PermissionDenied: uid 1000 has no permission to perform this operation"
[code]

While testing sugar before the release of 0.117, I found this bug. If its a problem with my system configuration. Please advise

[2020-04-11 13:23] chimosky commented on #915
You said when testing, can you tell exactly what you did?

[2020-04-11 15:10] srevinsaju commented on #915
@chimosky I just started and looked at the logs. I have recreated the bug on my adjacent PC too. It is in shell.log

[2020-04-11 15:34] SanketDG commented on #915
What OS are you running? You should be part of a group that would allow your user to have administrator privileges.

Also what does `$ groups` output for you on the shell?

[2020-04-11 16:18] srevinsaju commented on #915
```sys network power lp audio wheel ss```

It is not mentioned, that I need root permissions

[2020-04-13 02:12] quozl commented on #915
@srevinsaju.  We have relied on the default configuration of Network Manager on Fedora and Ubuntu distributions.  From other discussions, I understand you use Arch Linux.  I suggest comparing the configurations of Network Manager between your Arch Linux system and those other systems.  Arch Linux maintainers may have a very good reason for using a different configuration, so change the configurati

[2020-04-13 03:58] SanketDG commented on #915
Right, I understand, Sugar is to be run as a normal user. But to run `NetworkManager`, you would need to be part of the wheel group, because a wheel groups gives root permissions to a normal user. Apologies,  I basically meant what you said^

[2020-04-13 05:28] srevinsaju commented on #915
Yes. I can run nmcli without any errors,

It was
[code]

This was not configured by default in Arch I suppose. I remember, on Fedora. Sugar asks me for password to configure the network, which it doesn't. I am on KDE Plasma, and I do not have a gnome-keyring. Is it right that gnome-keyring is necessary?

[2020-04-13 07:35] quozl commented on #915
@SanketDG wrote:

Sugar does not run NetworkManager.  NetworkManager is assumed to have been started already.  In modern systems if it is present it is started by systemd.  Sugar uses D-Bus via NM.Client API to contact NetworkManager.

@srevinsaju wrote:

Interesting, thanks.

Did it work when you added this?

On Ubuntu 20.04 they've said farewell to NetworkManager and are using systemd-networkd a

[2020-04-13 11:33] srevinsaju commented on #915
No

This might give some relevant information.

I do not have internet connection when I boot in Arch Linux Recovery mode, I do not have internet connection becuase `NetworkManager.service` is not started. But, in my previous installation, I had manually configured my network to use .
I do not have a
[code]
in my File system.
Nor did I configure `dhcpd` on my system, becuause it was too much witch

[2020-04-14 05:45] quozl commented on #915
Sugar does not _run_ NetworkManager.  i.e. it does not fork and exec, it does not start it.

Sugar does use NM.Client, an API provided through PyGObject, accessed through D-Bus, and implemented by various services, of which NetworkManager is one of them.  The others include systemd-networkd and netplan.io.  There may yet be others I've not learned of yet.

Sugar uses NM.Client, and therefore Netwo

[2020-05-04 01:39] phoenix14113 opened #916 "calcalculator outputs error checking funtion if graph function is changed to "f(y) =""
function f(y) {      if (arguments.length != 1) {        throw new SyntaxError("Wrong number of arguments in function f (" + arguments.length + " provided, 1 expected)");      }      return y    }

This is output if you change the graphing function f(x) to another variable f(y). Numbers and symbols output the correct, right column, formatted error handling but letters, with the exception of x, out

[2020-05-04 01:48] quozl commented on #916
@llaske, this would appear to be Sugarizer, not Sugar.

[2020-05-04 05:00] phoenix14113 commented on #916
oops.. sorry

[2020-05-04 05:00] #916 closed

[2020-05-05 20:52] ShubhikaBhardwaj opened #917 "Issues not labelled"
-None of the issues are labelled based on the difficulty levels like-beginner,medium,hard.
-Issues should also be labelled as bug,enhancement,new feature etc.
-Make issues more readable and beginner friendly

[2020-05-05 20:54] ShubhikaBhardwaj commented on #917
@quozl Hi James! Could you help me in labeling these issues for future contributors.

[2020-05-05 22:00] quozl commented on #917
No thanks.

Issues are for reporting problems you don't plan to fix, in the hope that someone else will fix them.

Issues rarely have a known fix.  If I knew how to fix an issue, I fix it immediately.  Cheaper than bothering everyone with notifications, and having to track the issue.

An assessment of difficulty levels can only arise from a "known fix".  Moving an issue from "unknown fix" to "know

[2020-05-06 04:16] srevinsaju commented on #917
Interesting issue to manager other issues.

One of few **easy** issues to be fixed might be to add **documentation** as anyone can do it in any circumstances with proper language skills. Maybe we could add the `good first issue` for any documentation related issues. I started learning about Sugar Environment by writing documentation.

[2020-05-06 05:06] quozl commented on #917
It may never close though.  Perhaps I should put it in [Projects](https://github.com/orgs/sugarlabs/projects).  @ShubhikaBhardwaj, did you look at Projects?

[2020-05-06 05:40] ShubhikaBhardwaj commented on #917
@srevinsaju I am glad you understood my point. Adding 'good first issue'would be a good idea.

[2020-05-06 05:43] ShubhikaBhardwaj commented on #917
@quozl I agree with you too! When it comes to "unknown issues", it might actually be a cumbersome task and the noise can actually be bad.

[2020-05-06 05:43] quozl commented on #917
@ShubhikaBhardwaj, did you look at Projects?

[2020-05-06 05:44] ShubhikaBhardwaj commented on #917
@quozl I haven't looked at the projects yet! However, it would be good to add it as a new project.

[2020-05-06 05:46] quozl commented on #917
@ShubhikaBhardwaj, also, our new developer induction process is handled through the sugar-devel@ mailing list subscription.  When you subscribe, you get a welcome message detailing a lot of options.  Did you subscribe?  Your profile doesn't have your mail address, so I can't check.

[2020-05-06 05:48] ShubhikaBhardwaj commented on #917
"Issues have not been created, as it is a waste of time to do so." Hey..I found this quoted under every project description. Are you suggesting that contributors should work on projects rather than tiny issues and, create or fix issues -only if needed.

[2020-05-06 05:49] ShubhikaBhardwaj commented on #917
@quozl I had subscribed to SugarLabs mailing list last year. It should show,perhaps.

[2020-05-06 05:49] quozl commented on #917
I'm suggesting that as we have a project, we don't need an issue created, just a pull request.  Also mirrors what I said above, about issues being problems that we don't plan to fix and are looking for others to fix them.  I found your subscription, it was in March last year.  I'm not sure you got the greeting, I'll send it.

[2020-05-06 05:55] ShubhikaBhardwaj commented on #917
@quozl Okay! That's great. I would like to work on a project and would be glad to send you a PR. However, I am not a GSSOC participant for this year. I am an open source contributor, keen working Web Development or ML related projects at SugarLabs. What's the way to move forward from here?

[2020-05-06 05:57] ShubhikaBhardwaj commented on #917
I just got the greeting! Thanks for that :)

[2020-05-06 06:07] ShubhikaBhardwaj commented on #917
@quozl  I am not a GSOC participant for this year. Can I still contribute?

[2020-05-06 06:32] quozl commented on #917
Yes, you can certainly contribute.  We don't restrict contribution while GSoC is on.  We might be busy, but we will eventually cooperate if the contribution is beneficial.

However, we don't have any machine learning needs.  Web development with JavaScript knowledge only you can look at JavaScript activities for Sugarizer or Sugar.  Should you have JavaScript and good Python knowledge, there are S

[2020-05-06 07:13] ShubhikaBhardwaj commented on #917
@quozl Thanks for the lead.I will be self-directed!

[2020-05-06 07:13] #917 closed

[2020-05-07 11:10] Saumya-Mishra9129 commented on #909
The issue is solved by f1ac684. We may close this now.

[2020-05-07 15:09] shaansubbaiah commented on #892
According to the Debian wiki,

Would it be better to link to a tutorial on KVM rather than VirtualBox? This tutorial on the Ubuntu help wiki explains how to install KVM with virt-manager GUI and create a VM very nicely https://help.ubuntu.com/community/KVM/VirtManager

[2020-05-07 22:09] quozl commented on #909
Thanks, I agree.

[2020-05-07 22:09] #909 closed

[2020-05-07 22:33] quozl commented on #892
Yes, linking to an open source virtualisation tool set might be better than linking only to VirtualBox.  VirtualBox is packaged for Ubuntu.  I've not checked Fedora.  They all have KVM.  However, in my experience there are more plentiful examples for using VirtualBox across more operating system platforms.  KVM is rather limited to specific operating systems.  Should we document what others are do

[2020-05-08 09:08] srevinsaju commented on #892
I can confirm that KVM works pretty much very good with almost all `manylinux2014` OSes which are built on top of EFI/BIOS. and moreover, KVMs work better than VirtualBox in many aspects other than gaming. I particularly use VirtualBox only and only for non manylinux OSes like Androidx86 and Windows OSes.

-----

to my curiosity, is Virtual Box closed source?

[2020-05-08 11:25] chimosky commented on #892
I agree with @quozl.

Nope it's open source.

[2020-05-08 14:47] shaansubbaiah commented on #892
@quozl, as we have decided not to create a tutorial on installing a VM, we always have the option to link to tutorials for both KVM and VirtualBox. We may even leave it as is, not provide one at all.

In my opinion, the asciinema session for installing Sugar you had mentioned earlier will be more useful as it is specific to Sugar.

@srevinsaju I believe KVM supports GPU Passthrough (on devices wit

[2020-05-08 15:02] srevinsaju commented on #892
@shaansubbaiah Unfortunately. the jukebox-activity does not work on my KVM version; Maybe I have to do some additional configuration for GPU passthrough.

See https://github.com/sugarlabs/jukebox-activity/issues/28 for what happens on my system with KVM and Sugar

[2020-05-09 05:54] quozl commented on #892
@shaansubbaiah, thanks.

@chimosky, yes most of VirtualBox is open source.  Once upon a time it was not.  There are proprietary plugins.  I've seen this cause confusion.

@srevinsaju, good to hear you 've upgraded.  :grin:

[2020-05-09 13:07] shaansubbaiah commented on #892
@quozl shall we close this issue now that the login documentation has been created?

@srevinsaju Have you tried switching to Virtio from QXL in KVM? I could not login to some of the distros without changing this setting, it might help?
![image](https://user-images.githubusercontent.com/11163839/81474561-f4fdb600-9223-11ea-974e-9a9f28243a47.png)

[2020-05-09 14:27] shaansubbaiah commented on #819
Faced the same issue where the icon disappears and the background turns black, reproduced by:

`Hover or click any icon` -> `hover or click an adjacent icon` -> `Previous icon remains blank`

This occurs only when moving to an icon adjacent to the previously selected icon. Cannot get the rightmost icon to turn blank.

Perhaps it has something to do with `hover` like these lines in /src/jarabe/fram

[2020-05-09 15:01] srevinsaju commented on #892
@shaansubbaiah no, I have not tried

-----
as an aside, which desktop environment is yours and which theme? looks cool

[2020-05-09 15:24] shaansubbaiah commented on #892
@srevinsaju Let me know if that works :)

---

Theme:- KDE Plasma on Manjaro with my [Candyfloss](https://github.com/shaansubbaiah/CandyFloss) theme, its a slightly modified fork of EliverLara's `Sweet` Theme (Available in the Online theme downloader in `Settings->Appearance->Get New Plasma Theme`)

[2020-05-09 16:45] srevinsaju commented on #892
Nice work on theme; I might use it :smile:

[2020-05-11 02:13] quozl commented on #892
Is it linked to yet?  How will end-user get to it?

[2020-05-11 03:42] shaansubbaiah commented on #892
I'll link it to all references to 'login with sugar' in the docs. Would it be better to create a single PR or multiple for each doc?

[2020-05-11 05:14] quozl commented on #892
Thanks.  You'll find docs in [sugar:docs](https://github.com/sugarlabs/sugar/tree/master/docs), [sugar-docs](https://github.com/sugarlabs/sugar-docs), [wiki.sugarlabs.org](https://wiki.sugarlabs.org/) and [help.sugarlabs.org](https://help.sugarlabs.org/).  Our [live build](https://wiki.sugarlabs.org/go/Sugar_Live_Build) could also benefit.  There's also Sugar pages on the Wikis of other projects,

[2020-05-11 05:32] shaansubbaiah commented on #892
Thanks for linking the various sources.

To clarify, I was asking whether to create multiple pull requests in the sugar-docs repo for every 'login to sugar'  to be linked. It has been mentioned in multiple files within the same repo. Will a single pull request making changes in multiple files be suitable or not?

[2020-05-11 06:45] quozl commented on #892
We would normally use either;
* a new branch, one commit and then one pull request, or;
* a new branch, one commit, and then push to a repository, then add a reference to the commit here to concentrate the discussion, and so that a maintainer can cherry-pick or merge by hand.

In distant past we have also used `git send-email` for review by sugar-devel@, but that method is unpopular these days.  N

[2020-05-13 00:37] chimosky commented on #892
Fixed in 5b0e880.

[2020-05-13 00:37] #892 closed

[2020-05-18 10:48] Saumya-Mishra9129 commented on #914
@shaansubbaiah I would like to work on this.

[2020-05-18 10:52] shaansubbaiah commented on #914
@Saumya-Mishra9129 Sure! I'm not well versed with porting activities to python 3 and the common errors associated with it but one of the main issues I ran into was due to some missing dependencies. I was unable to run it on OLPC python2 Ubuntu 18.04 build.

[2020-05-18 13:54] Saumya-Mishra9129 commented on #891
I tried testing Sugar at Ubuntu 19.10 , but stuck at `/usr/bin/python3: Error while finding module specification for 'jarabe.main' (ModuleNotFoundError: No module named 'jarabe')` . It seems like we are still unable to fix this still, as the only option we have now to use **Native Sugar** for Ubuntu 19.10.

[2020-05-19 03:59] quozl commented on #891
Thanks for looking.  On Ubuntu 19.10 the problem is Ubuntu's, not ours.  They accepted packages from Debian Testing into their _universe_ suite at a time that Debian Project were half way through critical changes; so they got Sugar 0.112 mixed with Toolkit 0.116, a fatal combination.  We are indeed unable to fix Ubuntu without someone working with the Ubuntu developers.  As Ubuntu 20.04 has been r

[2020-05-19 03:59] #891 closed

[2020-05-27 05:37] quozl commented on #868
Closing as _Not Sugar_.

Problem is solved by upgrading to Python 3.8.2, though there may be an earlier version that had the fix.

[2020-05-27 05:37] #868 closed

[2020-06-06 09:31] shaansubbaiah opened #923 "Sugar 117-3 on Debian - AttributeError: 'str' object has no attribute 'decode'"
[code]
Not sure how exactly to reproduce, found in `shell.log` on Debian Buster (10.4) running Sugar 117-3

@chimosky suggested that it may be regression from porting to Python 3.

[2020-06-06 09:51] srevinsaju commented on #923
Additional info : https://github.com/sugarlabs/sugar/pull/922#issuecomment-639882809

[2020-06-08 15:29] Saumya-Mishra9129 opened #924 "KeyError: 'type'"
Tested on Pippy with Sugar 0.117 and with Ubuntu 20.04
[code]
How to reproduce - Open Pippy, click on neighborhood icon to share with other user, close pippy, check shell.log.

[2020-06-13 11:26] shaansubbaiah commented on #840
@quozl I'm able to reproduce the error in the _instance two_ example differently.

**Reproduced by:** Closing any activity.
(Tested on the fructose set, this happens on the Log activity as well, which is not a shared activity)

**Error:**
[code]

**Tested on:** Sugar 117-3, Debian 10.4 Buster

[2020-06-13 12:52] quozl commented on #840
Thanks, but it makes no difference.  Telepathy Salut is still crashing, and it should not.  It is the Telepathy Salut process on _instance two_ that crashes, hence the _set_active_ message.  It is, however, useful to know the same problem persists in 0.117 Debian package 3.  Perhaps the same version of Telepathy is used.

[2020-06-13 15:06] srevinsaju commented on #840
I am not sure; I have logs related to `telepathy-salut`, and I guess @quozl might have seen some other logs of mine related to telepathy_Salut. In case it helps
[code]

[2020-06-14 05:46] quozl opened #925 "Feature: WiFi Portal Environments"
Some locations have a WiFi portal that when accessed using macOS, Windows, Android, or iOS open a browser window and visit a supplied web page for authentication or acceptance of terms and conditions.

Sugar does not provide this feature yet.

[2020-06-15 03:01] quozl commented on #923
It is reproduced by choosing Favorites View - Random View from the toolbar in the Home View.

Impact is that the favourites view disappears and is empty.

It is caused by mistake of using `decode` on a `str` instead of `encode`, and not testing.

If the `decode` is removed, one sees _Type:Error: Unicode-objects must be encoded before hashing_.

If an `encode` is substituted, the feature works with

[2020-06-15 03:23] quozl commented on #924
Does not reproduce for me with Sugar 0.117 on Ubuntu 20.04, so there may be something unique about the configuration or execution environment.

Purpose of the callback is to update the neighbourhood view to show that an activity that was not shared is now shared.  The icon is to appear in the view.

Speculating can be wasteful, but my best guess is that you're using a virtual machine, with multipl

[2020-06-15 04:28] quozl commented on #840
No, it doesn't help, it confuses.  "does not support OLPC buddy properties" is a different problem; compare your version of Telepathy Salut, we're using 0.8.1 with Ubuntu 20.04.  "NoReply" is the same underlying problem.

[2020-06-15 17:50] chimosky commented on #925
I don't think this issue is from sugar as I remember some years back I was able to view wifi portal environments on my XO, I don't have any wifi I could use to test this at the moment though.

[2020-06-15 18:35] srevinsaju commented on #925
@chimosky afaik, what @quozl might have mentioned is a `sign-in to connect to WiFi` mode of connection. There are many free public wifi's which requite us to sign in before connection. Android phones show a `WebBrowserIntent` as a notification and ask the user to sign into the Browser to complete connecting to internet. Maybe sugar has not implemented the sign-in to connect method of WiFi,

I hope

[2020-06-15 22:28] quozl commented on #925
Agreed, it's more than just using Browse to interact with the portal.  Other operating systems launch a minibrowser in response.  We use WebKit for Help in Sugar, so we know we can do that kind of thing, we just need to request and handle the event.

[2020-06-15 22:44] chimosky commented on #925
I now understand what you meant as earlier I thought you meant the interaction with the portal using Browse.

[2020-06-16 18:30] Saumya-Mishra9129 commented on #924
Have you tested with Native Sugar? If so then , It can be related to Virtual machine.

[2020-06-17 04:24] quozl commented on #924
Yes, I'm testing with laptops, not virtual machines.  My speculation would be easy for you to test, have you tried that yet?

[2020-06-18 09:24] Saumya-Mishra9129 commented on #924
I have tried it as you said. I have tried logging the properties key. No key is present at the time this section of code runs. It seems you were correct.

[2020-07-05 16:40] himanshujaidka opened #926 "Social accounts open on same site"
social accounts should be open in the next tab not in same tab.

[2020-07-05 16:55] #926 closed

[2020-07-11 06:44] westurner opened #927 "Screensaver?"
Is there a place to configure a screensaver/screenlock?

xlock, i3lock, gnome-screensaver?

[2020-07-11 06:46] westurner opened #928 "Enable touchpad tap to click"
Is there a way to enable touchpad tap to click; like you can with gnome-control-center > Mouse and Touchpad?

[2020-07-11 07:19] quozl commented on #927
No, there isn't.  On OLPC OS there was no authentication or authorisation of user, so no password.  The olpc-powerd package was responsible for automatic suspend after a short time without user activity.  It kept the display active for some minutes, with the CPU suspended.  Then the CPU was briefly woken to turn off the display.  Sugar has not grown that feature set.

[2020-07-11 07:19] quozl commented on #928
There was, but it was removed, as we had push-back from teachers with children who couldn't quite get the hang of keeping their fingers off the touchpad at the wrong time, and other teachers who didn't like it when children had laptops that behaved differently.

[2020-07-11 17:00] westurner commented on #928
The clicking of the track pad button(s) seems unnecessary. An entire classroom would be loud.

The optional configuration setting that defaulted to on was removed?

As a developer, there being no way to configure this is a non-starter.

[2020-07-11 17:03] westurner commented on #928
(Re-purposed MacBooks do not have trackpad buttons; though you *can* make the trackpad click by pressing unnecessarily hard when just tapping is sufficient)

[2020-07-11 17:04] westurner commented on #928
Was this a per-user configuration setting?

[2020-07-11 17:16] westurner commented on #927
I've installed on Fedora 32 with `dnf install -y @sugar-desktop-environnent`; I assume this is similar to the Sugar on a Stick deployment platform?

(That's a neat feature to have that in BIOS. Whatever happened to Pixel Qi? I considered a Motion Ink Adam tablet with the transflective e-ink display. AFAIU, color e-ink is OTW, but the refresh rate is still slow.)

Is there a way to launch sugar in

[2020-07-11 17:18] westurner opened #929 "Launch sugar in a window"
https://github.com/sugarlabs/sugar/issues/927

[2020-07-11 17:37] westurner commented on #927
(There are now $100 [$200] Pinebook [Pro] ARM notebooks (and a tablet with a *detachable* backlit keyboard) for which there are now conda-forge packages like JupyterLab, IPyWidgets, and Matplotlib, that are installable with miniforge)

[2020-07-11 17:52] srevinsaju commented on #927
you might be interested in [sugar-runner](https://github.com/sugarlabs/sugar-runner.git) (unmaintained) and a [sugar docker image :whale: ](https://github.com/srevinsaju/sugar-runner)

[2020-07-13 00:47] quozl commented on #928
Thanks.  The optional configuration setting that defaulted to on was removed.  It happened when OLPC began using a second source touchpad that supported tap to click, and the customers gave strong feedback when the touchpad reached them.  OLPC provided a way for new customers to enable it in their operating system builds.  It was a per-system configuration setting; there being no users apart from

[2020-07-13 00:47] quozl commented on #927
I agree with @srevinsaju, it sounds like you may be interested in sugar-runner.  It's a developer hack though, and different to the experience designed for elementary school children.

[2020-07-13 00:47] quozl commented on #929
Needs more user experience detail.  Sugar could be changed to check for command line argument `--no-fullscreen` and;
* not use a full-screen window,
* not start the metacity window manager,
* provide user interface elements for the global keys like F6k,
* not log out the session on exit.

[2020-07-13 01:13] quozl commented on #928
Actually, given your other comments in https://github.com/sugarlabs/sugar/issues/927, https://github.com/sugarlabs/sugar-runner/issues/7 and https://github.com/sugarlabs/sugar/issues/929, perhaps you should look at Sugarizer, which is a reimplementation of Sugar using JavaScript and HTML5 which can run inside a web browser.  Many of the concerns you have may be solved if you used it instead of Sug

[2020-07-13 08:53] westurner commented on #928
While I haven't done anything close to widespread user testing, I suspect that you may be underestimating the capacities of elementary school children to operate standard desktop and workstation machines in various configurations in order to work with browser-based apps like Scratch, ABC Mouse, PBS Kids online, Hour of Code exercises (scratch,) etc.

It's frustrating for a user that manages to han

[2020-07-13 08:56] westurner commented on #928
Is this metacity? Is there a command to do this in metacity, as well?

[2020-07-13 08:57] westurner commented on #928
... That could be run in a call to `os.system()` in Pippy?

[2020-07-13 09:00] westurner commented on #929
I'll take a look at https://github.com/sugarlabs/sugar-runner .

"Kiosk / single-application mode"
https://github.com/sugarlabs/sugar-runner/issues/7

[2020-07-13 22:36] quozl commented on #928
Our research and experience was in 2006 to 2009, for children on other countries who had no experience with devices, and educational systems where the teacher was the arbiter of device success.

Sorry about that, but you were not our target.  Sugar isn't really a window manager, it's a learning environment.

Sugar should not be your first choice then.  I suggest Android or iOS.

Yes, I know.  Do e

[2020-08-15 15:06] shaansubbaiah opened #931 "502 Bad Gateway - When trying to view an activity help page"
**Tested on:**
1. Sugar Live Build 0.117 (Buster/10) - VMWare Workstation
2. Debian Bullseye/11 0.117-3 - KVM

Please test on OLPC hardware/ native installs of Sugar to make sure its not a VM issue.

**Screenshot:**
![image](https://user-images.githubusercontent.com/11163839/90314904-e0bd0980-df34-11ea-9bb7-845a3193b3d4.png)

[2020-08-17 00:51] chimosky commented on #931
Haven't been able to do much investigation but this also appears in the logs,
[code]

[2020-08-17 05:03] quozl commented on #931
@shaansubbaiah, thanks, interesting.

* is seen on Ubuntu 20.04 with Sugar 0.117 and no Help activity installed.
* is not seen on Ubuntu 18.04 with Sugar 0.114 and Help-20.1 installed,
* is not seen on Fedora 18 with Sugar 0.112 and Help-20.2 installed.

@chimosky, _NoReply_ on _set_active_ is https://github.com/sugarlabs/sugar/issues/840.  Get used to it, nobody is interested in fixing Telepathy

[2020-08-17 05:42] shaansubbaiah commented on #931
Installing the Help activity from the master branch still results in this issue. (Sugar Live Build 0.117)

Opening the activity, I am presented with this:
![image](https://user-images.githubusercontent.com/11163839/90360833-5383cd00-e07a-11ea-8de3-fa7e28204c46.png)

Following the workflow above, I still get the 502 - Bad Gateway issue

`index.html` is missing, checked the directory. Have to invest

[2020-08-17 06:15] quozl commented on #931
Unlike other activities, the Help activity can't be installed from the repository, it has to be built.  Clone it to somewhere other than ~/Activities, install python-sphinx, `make html`, then install the bundle.

[2020-08-18 02:28] #923 closed

[2020-08-18 10:27] shaansubbaiah commented on #931
@quozl that worked, I am now able to view the help pages for the activities. However, none of the images load while viewing the documentation from within the help activity but load when viewed from another activity/using the shortcut/ xo menu.

eg. Viewing the help page for Browse in the Help activity.
![image](https://user-images.githubusercontent.com/11163839/90502405-64603b80-e16b-11ea-9b62-fd1

[2020-08-19 10:17] shaansubbaiah commented on #931
Seems like the image loading failure has already been reported in [Help Activity #104](https://github.com/godiard/help-activity/issues/104)

I can access the images through the browser using file:///usr/share/sugar/activities/Help.activity/html/images/<image-name>.png

Changing the image uris in the html files from `_images/<image-name>.jpg` to `../images/<image-name>.jpg` renders the image correc

[2020-08-28 08:09] shaansubbaiah commented on #931
@quozl, right now,
1. `make html` copies `images/` to `html/_images/`
2. `setup dist_xo` creates an XO bundle omitting `html/_images/`. (images are in `images/`)
3. In [_resource_load_started_cb()](https://github.com/godiard/help-activity/blob/master/helpactivity.py#L129), tries to replace 'html/_images' with 'images' in the request uri but it seems to have no effect. I haven't found a way to redi

[2020-09-05 00:13] quozl commented on #931
Thanks.  I agree.  Summarising;

* [ ] the "502 Bad Gateway" only happens if the Help activity is not installed, (it relied on the social help service to redirect, and the decommissioning of that service is a contributing cause, see https://github.com/sugarlabs/sugar/blob/master/src/jarabe/view/viewhelp.py#L196),
* [ ] the WebKit2 port of Help activity [suffers from missing images](https://github.

[2020-09-17 01:52] happytobe2e opened #932 "Scattered Favorites view at Home does not show"
Dear Sugar Labs Community,

When loading the scattered Favorites view on the Home screen, I do not get randomly placed icons. Instead, I get the following error message in my `shell.log`:

    Traceback (most recent call last):
      File "/usr/lib/python3.9/site-packages/jarabe/desktop/viewcontainer.py", line 69, in do_size_allocate
        self._layout.allocate_children(allocation, self._childre

[2020-09-17 03:06] quozl commented on #932
Thanks.  It was fixed in commit 118fe73eee4177833dc692e1172451656f580b7f.

[2020-09-17 03:13] #932 closed

[2020-09-17 03:13] happytobe2e commented on #932
Closing as duplicate of bug #923.

[2020-10-25 14:32] martinwguy commented on #879
A patch to fix the bug is https://github.com/GNOME/metacity/commit/074af8f8
TODO: Suggest to Debian metacity maintainer to fix this in buster.

[2020-10-28 14:24] chrisafraser opened #933 "Fedora 33 SOAS Live Environment cannot login"
Using Fedora-SoaS-Live-x86_64-33-1.2.iso downloaded from https://spins.fedoraproject.org/en/soas/ as of 2020-10-28 prompts for username/password, preventing login/startup.

<img width="800" alt="Screen Shot 2020-10-28 at 10 11 35 AM" src="https://user-images.githubusercontent.com/36118973/97449144-c1186900-1907-11eb-8e68-0b97b79b9d0e.png">

Switching back to the fedora 32 variant works as expected

[2020-10-28 14:59] chimosky commented on #933
Yeah there's an ongoing discussion about it [here](https://lists.fedoraproject.org/archives/list/test@lists.fedoraproject.org/thread/RBGA5YLXU52LAFTVAIWWGXWQQQ2GEYZA/).

[2020-10-29 04:52] quozl commented on #933
Not something we can fix in Sugar.  We don't own the display manager.

[2020-10-29 04:52] #933 closed

[2020-11-03 12:09] #907 closed

[2020-11-03 12:11] srevinsaju commented on #903
Makes sense. Closing this :smile:

[2020-11-03 12:11] #903 closed

[2020-11-03 12:13] srevinsaju commented on #915
Tested again. Fedora 32 Sugar as test system. Closing this as _not-sugar_

[2020-11-03 12:13] #915 closed

[2020-11-03 12:18] srevinsaju commented on #884
I guess keeping a list of dependencies and this thread is redundant, it was specific to a particular version. Now fixed. Closing :smile:

[2020-11-03 12:18] #884 closed

[2020-11-23 02:10] quozl opened #936 "Use pulseaudio"
Sugar uses ALSA directly.  This leads to requirement for user to manage default mixer control values, which was handled by OLPC OS but is not handled by Sugar.

In the Linux desktop universe, use of ALSA has been replaced by use of [PulseAudio](http://www.pulseaudio.org).

[2020-11-23 05:37] srevinsaju commented on #936
Fedora 34 is moving to PipeWire, from pulseaudio after facing some long term problems with pulseaudio for desktop users. Would it be worth a try?

[2020-11-23 05:45] quozl commented on #936
Sure.  It just has to be supported by GStreamer, Pygame, and Sugar Toolkit.  You'll see a large chunk of C code in Sugar Toolkit contains our ALSA support, plus there are direct calls to `amixer` in activities like Measure.

[2020-12-16 03:36] devmrfitz commented on #929
Is this issue about running the traditional Sugar session manager view in a window in another manager like Gnome, XFCE, etc?

[2020-12-16 04:39] quozl commented on #929
Yes, this issue originally asked about how to run Sugar inside another window manager.  It is an idea that has merit, but has not been implemented in Sugar yet.  I gave items that begin to show what would have to change inside Sugar to complete the idea.

However, there was no progress on defining what was to change or to change it.  Instead something that is not part of Sugar, called Sugar Runner

[2020-12-16 04:44] devmrfitz commented on #929
Should I try to implement it using Xephyr?

[2020-12-16 04:56] quozl commented on #929
No.  As in https://github.com/sugarlabs/sugar/issues/929#issuecomment-657303717, implementing support for running Sugar as a window requires a set of steps, and none of them would require Xephyr.  Sugar Runner only used Xephyr and Xvfb in order to _not_ change Sugar.  Sugar Runner was not intended for regular use, but rather as a debugging tool.  Sugar Runner is not a good example of how to implem

[2021-01-04 11:40] Saumya-Mishra9129 commented on #855
@quozl We can close this issue now. As it is https://github.com/sugarlabs/sugar/commit/ea2cd9c7b0656abff6d459b8ad74a0f52e6f078e merged in the codebase.

[2021-01-04 21:40] quozl commented on #855
Thanks.

[2021-01-04 21:40] #855 closed

[2021-01-22 12:51] aditya113141 opened #937 "Activities failed to start"
I installed Sugar environment on Raspberry Pi. I downloaded some activities from https://activities.sugarlabs.org/ but they are not starting.
https://drive.google.com/file/d/1gbJkNFZWzleMr7HxG4qrbsM9GLwKKn5c/view?usp=sharing

[2021-01-22 12:54] aditya113141 opened #938 "Not able to login in Sugar Environment on ubuntu 18.04"
I installed Sugar according to the instructions provided here:-  https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md

It ran well on my pc initially but now When I try to login to the environment, I get  redirected  to the login window as shown in the video.

https://drive.google.com/file/d/1jNgNx3jse7GsHwiypEHVltFWc5FSheHE/view?usp=sharing

[2021-01-22 12:58] srevinsaju commented on #937
Which version of Sugar are you running? What Linux are your running? Is it Raspbian?

[2021-01-22 13:10] aditya113141 commented on #937
I am using Raspbian OS. The version of sugar  is -> 0.117.olpc.0

[2021-01-22 13:17] srevinsaju commented on #937
Right. The bundle you have downloaded from https://activities.sugarlabs.org is legacy. For bundles supporting v0.117 of Sugar (python3), you would like to get the bundles from https://v4.activities.sugarlabs.org

[2021-01-22 19:55] quozl commented on #937
@aditya113141, yes, that's expected, and you can help fix it.  Flappy's next step is to release it on v4.activities.sugarlabs.org.

@srevinsaju Agreed.

For development purposes, alternatives to using bundles are;

* distributed tar files in https://download.sugarlabs.org/sources/honey/ with recent dates after the Python 3 port release,
* distributed tar files in https://download.sugarlabs.org/sou

[2021-01-22 20:00] quozl commented on #938
You were not redirected.  What you see is Sugar failing to start, and the greeter recognising that the desktop environment did not start.

Possibilities are too many.  Need more focus.

Which release of Ubuntu?

What is the contents of the file `.sugar/default/logs/shell.log`?

[2021-01-22 20:01] srevinsaju commented on #938
Ubuntu 18.04 Bionic, but mentioned in the Issue title only.

[2021-01-22 20:17] quozl commented on #938
Thanks, I missed that.  According to my [earlier tests](https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md#ubuntu-1804-bionic-beaver-and-1810-cosmic-cuttlefish) it did work once upon a time.  Presumably the root causes are changes to dependencies made by unattended upgrades, or a difference in instructions followed.  Still too many possibilities; we need the shell.log file.

[2021-01-23 18:17] aperezbios commented on #840
for future reference, since I just ran across this issue @srevinsaju ran across back in June, inside the SoaS Fedora nightly image:

In the latest Fedora Rawhide (will soon become 34) SoaS images, telepathy-salut is version 0.8.1, and python3-gwebsockets is version 0.7

[2021-01-23 18:39] srevinsaju commented on #840
For the completion of my answer that time, I was using `v0.8.1` using that time.

Tested again, have the same error. `v0.8.1.r7`, `gwessockets`on v0.7 and `metacity` on v3.38.0

[2021-01-24 23:31] quozl commented on #840
Indeed.  It needs diagnosis by debugging Telepathy, or reviewing Telepathy commits.  My guess is the support for Sugar may have been removed from Telepathy because it was not maintained.

[2021-01-26 08:56] aditya113141 commented on #937
I want to work on upgrading the Flappy game. Can you please share some more information on it ?

[2021-01-26 22:12] quozl commented on #937
Sure.  We have;

* a [guide to modifying activities](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#modifying-activities),
* a [repository called _flappy_](https://github.com/sugarlabs/flappy),
* a [repository called _flappy-birds-activity_](https://github.com/sugarlabs/flappy-birds-activity).

Elsewhere, you can find resources on programming in Python, with PyGObject, wit

[2021-01-27 17:17] aditya113141 commented on #937
Sure, Sir. I am on it.

[2021-01-30 19:15] aditya113141 commented on #937
I am not able to upload bundle on v4.activities.sugarlabs.org

The error I get -

Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting aslo4
Could not install packages due to an EnvironmentError: 404 Client Error: Not Found for url: https://pypi.org/simple/aslo4/

[2021-01-30 20:22] srevinsaju commented on #937
It is not possible to upload the activity to `aslo-v4` directly. You will first have to demonstrate your skills at maintaining activities. See  [contributing.md](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#modifying-activities) for more information regarding becoming a maintainer and tasks which you need to fulfil before becoming a maintainer..

[2021-02-01 01:07] quozl commented on #937
Thanks @aditya113141.  You do not need to copy or run  https://github.com/sugarlabs/aslo-v4 at all, as it is a service we provide at Sugar Labs.  You only need to provide data for the service.  However, as @srevinsaju points out, you can only do that if you have an account on our shell server sunjammer.  We give accounts to people who are members or have demonstrated contribution.  I look forward

[2021-02-06 18:55] aperezbios commented on #840
This still happens under Sugar 0.118 in the Fedora Rawhide nightly composes. Upon examining the source repo for Sugar support, it does does not appear to have been removed from current releases of Telepathy, only telepathy-next.

Fedora Rawhide/34 includes telepathy-gabble 0.18.4, telepathy-salut 0.8.1, telepathy-glib 0.24.1, and python3-gwebsockets 0.7

[2021-02-07 18:02] aditya113141 commented on #937
I am not able to understand one thing. I cloned the Flappy repo and installed it using `python3 setup.py dev` . The activity was running fine on the PC . But the .xo file I downloaded from activities.sugarlabs.org is not working.

[2021-02-07 18:25] aperezbios commented on #937
@aditya113141 that's because the version of Flappy in the repo is current, and the version on ASLO is from 2018:

http://activities.sugarlabs.org/en-US/sugar/addon/4731

[2021-02-07 18:52] aditya113141 commented on #937
Ok, so there is no need of making any changes for releasing it on  https://v4.activities.sugarlabs.org. It works perfectly and only requires a release.

[2021-02-07 23:46] quozl commented on #840
Thanks.  That eliminates my guess.  It still needs diagnosis by debugging Telepathy, by testing an older version of Telepathy, or by reviewing Telepathy commits between the last working version and now.  To be sure you have the same problem as described by this issue, the Telepathy Salut process id will change between when the shared activity is running, and when it is stopped.  If process crash d

[2021-02-08 00:54] quozl commented on #937
Thanks for the test report.  I was unaware it was working perfectly.  v5 released.  https://v4.activities.sugarlabs.org/app/org.ceibaljam.flappy.html

[2021-02-08 00:54] #937 closed

[2021-02-08 18:09] aperezbios commented on #856
Still happens. I just ran across this error on a Fedora 34 SoaS nightly build, which has Sugar 0.118, sugar-toolkit-gtk3 0.118, and terminal version 47.

[2021-02-08 19:04] aperezbios opened #941 "Language control panel fails to open with Sugar 0.118"
On a nightly build of Fedora SoaS, with 0.118 for all packages, the Language control panel does not open, and the shell.log has a message stating "AttributeError: 'NoneType' object has no attribute 'needs_restart'"

[2021-02-08 19:09] aperezbios commented on #941
`  File "/usr/lib/python3.9/site-packages/jarabe/controlpanel/gui.py", line 383, in __accept_clicked_cb
    if self._section_view.needs_restart:
AttributeError: 'NoneType' object has no attribute 'needs_restart'`

[2021-02-08 19:27] aperezbios commented on #941
This is the Fedora nightly ISO I tested with, which is 1.06GB in size: https://www.dropbox.com/s/kdry595y0s7ae0a/Fedora-SoaS-Live-x86_64-Rawhide-20210208.n.0.iso?dl=0

[2021-02-09 01:46] quozl commented on #856
Agreed.

[2021-02-09 01:52] quozl commented on #941
Thanks.  7bbff9f59 ("Deepsource: unnecessary `else` or `elif`") was the most recent change, and was preceded by ea2cd9c7b ("Fix Gtk-WARNING in language control panel").

Each control panel is an extension that is imported with exceptions handled so that Sugar does not terminate when a buggy extension is added.  When regressions occur in extensions, the cause is hidden.  I suggest;

* check shell.l

[2021-02-10 02:40] aperezbios commented on #941
Thanks, Walter. I've applied this patch manually and confirmed that it fixes the problem. I'm able to successfully switch languages to Spanish, and then back to English.

[2021-02-10 03:29] #941 closed

[2021-02-13 16:57] aperezbios commented on #840
This also happens when a shared activity has NOT been stopped, so the bug description should be updated to reflect that, since the scope is significantly larger.

Here's the log output I get from Sugar 0.118 (SoaS Fedora 34 prerelease):
`Traceback (most recent call last):
  File "/usr/lib64/python3.9/site-packages/dbus/connection.py", line 606, in msg_reply_handler
    reply_handler(*message.get_a

[2021-02-14 10:02] chimosky commented on #840
@aperezbios when a shared activity hasn't been stopped on one of the shared instances?

[2021-02-14 17:55] aperezbios commented on #840
@chimosky when simply looking at the neighborhood view (with jabber.sugarlabs.org configured as the collaboration server)

[2021-02-14 17:56] aperezbios commented on #840
Here is the contents of my salut.log file, after configuring debugging:

`
(process:1043): tp-glib/proxy-DEBUG: 09:51:20.541: tp_proxy_dispose: 0x561126ee39c0
(process:1043): tp-glib/proxy-DEBUG: 09:51:20.545: tp_proxy_invalidate: 0x561126ee39c0: Proxy unreferenced
(process:1043): tp-glib/proxy-DEBUG: 09:51:20.545: tp_proxy_finalize: 0x561126ee39c0
(process:1043): salut-DEBUG: 09:51:20.545: salut_

[2021-02-14 18:28] aperezbios commented on #840
Bizarrely, the simple act of setting G_MESSAGES_DEBUG="all" (and rebooting, or killing jarabe.py to induce sugar desktop re-start) in /etc/environment seems to "fix" the problem, although I've no idea why, as it makes no sense.

[2021-02-15 23:45] chimosky commented on #840
The first part of the error could be when no interface was returned which could happen when a connection hasn't been made but that'll throw an `Disconnected` error instead. @quozl might have a better insight as to the possible causes of this.

I've seen the last line of the error and I can't remember the cause of that and I think there used to be an open issue for it.

Are you saying when you do t

[2021-02-17 04:07] quozl commented on #840
Oh, okay.  No, I'm not using jabber.sugarlabs.org at all, I'm concentrating only on link-local peer to peer, aka Telepathy Salut.  If you're using jabber.sugarlabs.org, then you're using Telepathy Gabble.  Two very different underlying software components.  I'm interested to know what causes Salut to unexpectedly terminate, but I've not even got as far as analysing the core dump.

[2021-02-20 11:14] arushsharma24 opened #943 "Support on 20.04 LTS"
I was unable to install sugar using the `sudo apt install sucrose` on my laptop (the universe repository is enabled, screenshots attached).  Also couldn't find the sucrose package for Ubuntu 20.04 on the Ubuntu packages page for [sucrose](https://packages.ubuntu.com/search?keywords=sucrose).

What can I do to use the Sugar DE? Do I have to upgrade to the 20.10 version (I am reluctant as the upgrad

[2021-02-20 16:52] aperezbios commented on #943
Arush,

In short, running Sugar in a Virtial Machine is an easy way to keep your standard environment safe. You can download a pre-built LiveCD/USB environment of Sugar, known as "Sugar on a Stick", or SoaS for short, from http://people.sugarlabs.org/~aperez/Fedora-SoaS-Live-x86_64-34-20210220.n.0.iso [http://people.sugarlabs.org/~aperez/Fedora-SoaS-Live-x86_64-34-20210220.n.0.iso]

SoaS is based

[2021-02-21 09:45] arushsharma24 commented on #943
Hi! Thanks for the reply, yes well actually that is what I ended up doing, I installed Sugar as a DE on a virtual machine with Ubuntu 20.10 running. I still wanted to bring it to notice that sucrose is not available in the universe repository of 20.04LTS Ubuntu, hence I created the issue. I guess I'll close this issue, because earlier I wasn't able to find anything online that said that there is a

[2021-02-21 09:45] #943 closed

[2021-02-21 19:44] aperezbios commented on #943
It's not available because nobody has packaged it. Anyone who chooses to do so could fix the problem :)

[2021-02-21 20:33] quozl commented on #943
Yes, it is a problem with Ubuntu 20.04 (Focal) and was caused by Ubuntu policies and the broken state of Debian Testing at the time Ubuntu closed the doors on _universe_ packages.  Ubuntu will not be fixing the problem.  OLPC has packaged Sugar for Ubuntu 20.04.  You can also use a virtual machine of Sugar Live Build or OLPC OS 20.04.  Both support Python 2 activities, which SoaS does not.  Python

[2021-02-24 03:45] aperezbios commented on #840
@quozl should we separate these issues, one for telepahthy-gabble, and one for telepathy-salut? We need to figure out why setting G_MESSAGES_DEBUG="all" in /etc/environment (and then restarting jarabe), results in Sugar (using) telepathy-gabble seeing neighbors/peers.

[2021-02-24 22:55] quozl commented on #840
Thanks for asking.  I don't mind either way.  It's not like were not solving the problem because the issue is too hard to read.  Speculating; we're not solving it because (a) it is a Telepathy problem rather than a Sugar problem (most likely), (b) Telepathy is written in C and we have attracted primarily Python developers, and (c) those of us with C skills haven't had the time to investigate.

If

[2021-03-21 09:51] shivamrai1904 commented on #943
This problem happens always . So the sugar installation guide for ubuntu 20 (gorilla) should include this note.
It waste a lot of time to figure out. Even i thought it is some error from my side.

[2021-03-21 10:26] quozl commented on #943
Can you please be more specific?  Gorilla is a release keyword for Ubuntu 20.10, but this issue https://github.com/sugarlabs/sugar/issues/943 up until now was talking about Ubuntu 20.04 Bionic.  Instructions for Ubuntu 20.10 are at https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md#ubuntu-2010-groovy-gorilla

[2021-03-22 05:47] shivamrai1904 commented on #943
i understood the point now. as i tried on bionic and ended with with the same mentioned issue. So if i will upgrade to ubuntu20.10 it will work then?

[2021-03-22 06:21] quozl commented on #943
Well, I'm puzzled some more, because you should not be facing the same mentioned issue https://github.com/sugarlabs/sugar/issues/943 on Ubuntu 18.04 Bionic at all.  Ubuntu 18.04 Bionic can be used with Sugar without significant difficulty.  See our [instructions](https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md#ubuntu-1804-bionic-beaver-and-1810-cosmic-cuttlefish). If you are facing d

[2021-03-22 10:29] shivamrai1904 commented on #856
I would like to work on this. I am trying to reproduce this error. can you explain "open the frame"? what do you mean by this?

[2021-03-22 10:35] srevinsaju commented on #856
@shivamrai1904  When you move your mouse to the left most corner (in sugar desktop, (if you are running a VM, you might need to expand the corner sensitivity and area)), a frame appears around the desktop. Triggering the hotcorner, "opens the frame".

[2021-03-23 04:27] shivamrai1904 commented on #856
This issue may be because no action has been appointed to remove option In its code.
Similarly there is no utility for the keep option too.
As both option bring no change to the clipping status of a clip.

[2021-03-23 04:35] quozl commented on #856
In case needed, https://help.sugarlabs.org/en/frame.html is the documentation for the Sugar clipboard feature.

[2021-03-23 12:16] shivamrai1904 commented on #856
The shell shows different error for removing text clipping and atom clipping.
key error for text clip and type error for atom clip.
This point can be  some clue.
![Screenshot (289)](https://user-images.githubusercontent.com/77231070/112144483-4aa23d80-8bff-11eb-8af1-5bc925969ca2.png)

[2021-03-23 12:56] chimosky commented on #856
@shivamrai1904 could you paste the error instead of attaching a screenshot, it makes it easier to view.

[2021-03-23 20:52] quozl commented on #856
What's the error?  Screenshots don't show in my mail client, for security reasons, and I haven't logged into GitHub today.   ;-)

[2021-03-25 17:25] shivamrai1904 commented on #943
Thanks for your consideration sir. I am here to contribute in sugar development.  I understood the issue  and ended  up with understanding that as sugar is packaged for ubuntu20.10  not for 20.04 so it will only get installed in 20.10 version not 20.04 version.

[2021-03-25 19:59] quozl commented on #943
Oh, that changes my advice then.  Welcome.  Now that I know you plan
to contribute to development;

* use Sugar Live Build in a virtual machine for activity maintenance of Python 2 or Python 3 activities, as this is the only system apart from OLPC OS that supports both versions of Python at the same time,

* use either Debian testing or Fedora Sugar on a Stick in a virtual machine for activity mai

[2021-03-26 12:49] shivamrai1904 commented on #943
Sir i am working on text clipping issue. I have thought of few changes in
code but rather not sure which one would actually solve the problem.
So i want to to try them.
But i dont know how to do so.
I have installed sugar live build in Virtual machine.
And now i dont know what to do next.
Please guide.

On Fri, Mar 26, 2021, 1:29 AM James Cameron ***@***.***>
wrote:

[2021-03-26 16:16] chimosky commented on #943
You can ssh into your vm and make the needed changes, also follow the reply you received in the mailing list as regards to testing your changes.

As to which of the solutions you've thought that'll solve the problem, you can try all the things you've thought of and pick whichever one actually solves the problem.

[2021-03-27 05:45] shivamrai1904 commented on #943
Is there any other option than using ssh in vm?

On Fri, Mar 26, 2021, 9:46 PM Ibiam Chihurumnaya ***@***.***>
wrote:

[2021-03-27 05:57] quozl commented on #943
Why?  What's your problem with using SSH into a VM on your own system?
It works fine for everybody else.  Is it just that you haven't used
SSH before?  There's a lot of documentation about SSH.  It is an
important skill to master.

That said, yes, you can use alternate consoles of your VM, with
function keys to switch between them, but it is such a lot of extra
work.

You could also add a build an

[2021-03-27 06:26] shivamrai1904 commented on #943
Its my first time using ssh. I tried to set ssh through vm but
configurations failed and shows time out error . I tried to fix it and
still trying to do so.

On Sat, Mar 27, 2021, 11:27 AM James Cameron ***@***.***>
wrote:

[2021-03-27 07:39] quozl commented on #943
Okay.  There are many different kinds of timeout error, and I can't
tell which one you have.

You have picked a particularly difficult problem to solve that
requires significant skills in Linux system management and networking.
It isn't something that Sugar Labs has any responsibility for, and you
can find all the information you need elsewhere.

Irregardless, given the situation you describe, her

[2021-04-30 16:09] chimosky opened #945 "Select all button in Journal has no effect."
**Steps to reproduce**
* Search for existing files.
* Select one then use the `Select all` button above items.
* Selections are deselected instead of being selected.

[2021-05-01 15:01] sourabhaa commented on #945
One more observation, this happens only if the name of the file(as mentioned inside activity.info)  is not entered completely in the search-box.
Example : To select ```terminal activity```, typing at least 'terminal' will give expected results. Anything less than that like 'ter' will result in this error.
Also, I noticed if complete name of an activity is searched, the auto search result will incl

[2021-05-04 09:23] chimosky commented on #945
Thanks for that, just noticed this too and it shouldn't have to be the case. @quozl was there any particular reason for this?

That's expected given what you mentioned above.

[2021-05-04 09:41] quozl commented on #945
I tried but can't reproduce.  Can you explain further what happens and what you expected?

[2021-05-04 09:56] chimosky commented on #945
When I search for `TamTam` all the TamTam instances show in the search results and after selecting one, I use the select all button and I expect that everything that came up after the search result be selected but what happens is the selected activity is deselected and the search is automatically cleared.

[2021-05-05 10:08] sourabhaa commented on #945
For more clarity,
1. Search  ```terminal``` , all search history of ```terminal activity``` is listed, ```Select all``` feature works fine (because inside activity.info, ``name = Terminal``).
2. Search ```term```, all search history of ```terminal activity``` is listed, ```Select all``` button deselects.
3. Search ```terminal activity```, all search history of **all** the activities(which has 'act

[2021-05-05 23:37] chimosky commented on #945
No, I mean when you search for an activity and include the words "Activity" all activities are bound to show up in the result as they have that in their name when saved as journal objects.

Glad you're okay, I hope things change.

[2021-05-08 00:27] quozl commented on #945
I guess I'm still confused.  Are you searching activities or Journal objects?

[2021-05-12 08:53] quozl commented on #945
Okay, searching for Journal objects that happen to contain activity
names because the user did not change the object name.

I don't remember the details of the search entry changes.  Best would
be to reverse engineer the code.  Sam Parkinson added completion.

[2021-07-09 00:01] chimosky opened #946 "PermissionError when trying to install an activity."
Noticed this while trying to update viewslides activity in F35 SOAS - comes with Python 3.10 -.

Running `./setup.py install --prefix=/usr` throws a `PermissionError` with traceback;
[code]

There's a proposed fix for this in [Python](https://github.com/python/cpython/pull/23901) but if merged, it'll be included in Python 3.10.

@aperezbios this might stall the update of viewslides downstream, I h

[2021-07-22 07:19] quozl commented on #946
Until Python is fixed, your choices include;

* use the shell to make the directories, or
* ask for the Python fix to be backported into the Python package you are depending on.

[2021-07-22 15:12] chimosky commented on #946
I think using the shell to make the directories seems viable in the short term and might be the best thing to do at the moment.